<div class="application-status">
	<h3>Application Status: <span>{{ status }}</span></h3>
</div>
<div class="ui large four steps">
	<div class="{{ progressClass.appSubmitted }} step">
		<i class="file text outline icon"></i>
		<div class="content">
			<div class="title">APP SUBMITTED</div>
		</div>
	</div>
	<div class="{{ progressClass.approved }} step">
		<i class="thumbs outline up icon"></i>
		<div class="content">
			<div class="title">APPROVED</div>
		</div>
	</div>
	<div class="{{ progressClass.paymentInfo }} step">
		<i class="payment icon"></i>
		<div class="content">
			<div class="title">PAYMENT INFO</div>
		</div>
	</div>
	<div class="{{ progressClass.completed }} step">
		<i class="checkmark icon"></i>
		<div class="content">
			<div class="title">COMPLETE</div>
		</div>
	</div>
</div>
<div class="ui icon message">
	<i class="info icon"></i>
	<div class="content">
		{[if (status === "submitted") { ]}
			<p><strong>Your application has not been submitted. Please complete the following to submit:</strong></p>
			<ul>
				<li><strong>Please list the <a data-page="profile_topics">topics</a> that characterize your blog or social networks.</strong></li>
				<li><strong>Please tell us the <a data-page="profile_networks">networks</a> you promote on.</strong></li>
			</ul>
		{[ } else if (status === "approved") { ]}
			<p><strong>Please complete your sign up by providing your <a data-page="profile_paid">PayPal email address and a W-9 form</a> to access all the features.</strong></p>
		{[ } else if (status === "approving") { ]}
			<p><strong>Your application was submitted on <<date>>. You will be notified here and by email once the process is completed.</strong></p>
		{[ } else if (status === "rejected_application") { ]}
			<p><strong>Your application was rejected. It has come to our attention that your blog is either fake or has inappropriate content for our platform. Please contact customer service with any questions.</strong></p>
		{[ } else if (status === "processing") { ]}
			<p><strong>Your W-9 form is being reviewed and processed.</strong></p>
		{[ } else if (status === "rejected_payment") { ]}
			<p><strong>Your application was rejected. Please contact customer service with any questions.</strong></p>
		{[ } else if (status === "complete") { ]}
			<p><strong>Your application and W-9 form have been fully approved. You're all set to participate in available campaigns.</strong></p>
		{[}]}
	</div>
</div>