<div id="NavbarView" class="ui large top fixed borderless inverted menu"></div>
<div id="ContentLayout" class="ui bottom attached segment pushable"></div>
<div id="ModalContainer" class="ui basic modal">
	<div class="header">Session Timeout Warning</div>
	<div class="image content">
		<div class="image">
			<i class="warning sign icon"></i>
		</div>
		<div class="description">
			<p>Your session will expire in:</p>
			<div id="sm-countdown"></div>
			<p>Click "Continue" to keep working, or "Log Out" if you are finished.</p>
		</div>
	</div>
	<div class="actions">
		<div class="two fluid ui inverted buttons">
			<div id="SessionNotifyDeny" class="ui red basic inverted button deny"><i class="remove icon"></i>Log Out</div>
			<div id="SessionNotifyApprove" class="ui green basic inverted button approve"><i class="checkmark icon"></i>Continue Session</div>
		</div>
	</div>
</div>

