<div class="ui large top fixed hidden menu">
	<div class="ui container">
		<a class="toc item">
		    <i class="sidebar icon"></i>
		</a>
		<!-- <a class="active item">Home</a>
		<a class="item">Work</a>
		<a class="item">Company</a>
		<a class="item">Careers</a> -->
		<div class="right menu">
			<div class="item">
				<a id="loginNav" class="ui button" href="/login">Log In</a>
			</div>
			<div class="item">
				<a id="signupNav" class="ui primary button" href="/signup">Sign Up</a>
			</div>
		</div>
	</div>
</div>
<div class="ui vertical inverted sidebar menu left">
	<!-- <a class="active item">Home</a>
	<a class="item">Work</a>
	<a class="item">Company</a>
	<a class="item">Careers</a> -->
	<a class="item" href="/login">Log In</a>
	<a class="item" href="/signup">Sign Up</a>
</div>
<div class="pusher">
	<div class="ui inverted vertical masthead center aligned segment">
		<div class="ui container">
			<div class="ui large secondary inverted pointing menu">
				<a class="toc item">
					<i class="sidebar icon"></i>
				</a>
				<!-- <a class="active item">Home</a>
				<a class="item">Work</a>
				<a class="item">Company</a>
				<a class="item">Careers</a> -->
				<div class="right item">
					<a class="ui inverted button" href="/login">Log in</a>
					<a class="ui inverted button" href="/signup">Sign Up</a>
				</div>
			</div>
		</div>
		<div class="ui text container">
			<h1 class="ui inverted header">
			VISION WHEEL DEALERS
			</h1>
			<h2>Get Paid For Doing What You Love</h2>
		</div>
	</div>
	<div class="ui vertical stripe segment">
		<div class="ui middle aligned stackable grid container">
			<div class="row">
				<div class="eight wide column">
					<h3 class="ui header">About</h3>
					<p>The Firestarter Network™ is an influencer engagement platform that helps you turn your followers and posts into money. On our network you'll find everything you need to promote high-profile brand campaigns through your blog posts, social media, status updates, photos and videos to make quick money.</p>
				</div>
				<div class="six wide right floated column">
					<img src="/images/semantic/white-image.png" class="ui large bordered rounded image">
				</div>
			</div>
		</div>
	</div>
	<div class="ui vertical stripe quote segment">
		<div class="ui equal width stackable internally celled grid">
			<div class="center aligned row">
				<div class="column">
					<h3>"What a Company"</h3>
					<p>That is what they all say about us</p>
				</div>
				<div class="column">
					<h3>"I shouldn't have gone with their competitor."</h3>
					<p>
						<img src="/images/semantic/nan.jpg" class="ui avatar image"> <b>Nan</b> Chief Fun Officer Acme Toys
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="ui vertical stripe segment">
		<div class="ui text container">
			<h3 class="ui header">Breaking The Grid, Grabs Your Attention</h3>
			<p>Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention.</p>
			<a class="ui large button">Read More</a>
			<h4 class="ui horizontal header divider">
			<a href="#">Case Studies</a>
			</h4>
			<h3 class="ui header">Whats New on Firestarter?</h3>
			<p>All of this area is open to content. Here we can use all of this space to engage the user or provide more details on the new firestarter. </p>
			<a class="ui large button">Read More</a>
		</div>
	</div>
	<div class="ui inverted vertical footer segment">
		<div class="ui container">
			<div class="ui stackable inverted divided equal height stackable grid">
				<div class="three wide column">
					<h4 class="ui inverted header">About</h4>
					<div class="ui inverted link list">
						<a href="#" class="item">Sitemap</a>
						<a href="#" class="item">Contact Us</a>
						<a href="#" class="item">Whats New</a>
						<a href="#" class="item">Terms and Conditions</a>
					</div>
				</div>
				<div class="three wide column">
					<h4 class="ui inverted header">Services</h4>
					<div class="ui inverted link list">
						<a href="#" class="item">Blogger Engagement</a>
						<a href="#" class="item">Firestarter FAQ</a>
						<a href="#" class="item">How To Blog</a>
						<a href="#" class="item">Getting Paid</a>
					</div>
				</div>
				<div class="seven wide column">
					<h4 class="ui inverted header">Footer Header</h4>
					<p>Extra space for a call to action inside the footer that could help re-engage users.</p>
				</div>
			</div>
		</div>
	</div>
</div>