<div class="ui fixed inverted menu">
	<div class="ui container">
		<a href="#" class="header item">
			<img class="logo" src="/images/favicon.ico">
			Vision Wheel
		</a>
		<a href="#" class="item">WHEELS</a>
		<a href="#" class="item">TIRES</a>
		<a href="#" class="item">ICONFIGURATOR</a>
		<a href="#" class="item">GALLERY</a>
		<a href="#" class="item">ACCESSORIES</a>
		<a href="#" class="item">NEWS</a>
		<a href="#" class="item">DEALERS</a>
		<a href="#" class="item">CATALOG</a>
		<div class="ui simple dropdown item">
			COMPANY <i class="dropdown icon"></i>
			<div class="menu">
				<a class="item" href="#">Link Item</a>
				<a class="item" href="#">Link Item</a>
				<div class="divider"></div>
				<div class="header">Header Item</div>
				<div class="item">
					<i class="dropdown icon"></i>
					Sub Menu
					<div class="menu">
						<a class="item" href="#">Link Item</a>
						<a class="item" href="#">Link Item</a>
					</div>
				</div>
				<a class="item" href="#">Link Item</a>
			</div>
		</div>
	</div>
</div>
<div class="ui main text container">
	<h1 class="ui dividing center aligned header">DEALER LOGIN</h1>
	<div class="ui stackable grid">
		<div class="eight wide column">
			<form class="ui large form">
				<div class="ui stacked segment">
					<div class="field">
						<div class="ui left icon input">
							<i class="user icon"></i>
							<input id="login-email" type="email" name="email" placeholder="E-mail address">
						</div>
					</div>
					<div class="field">
						<div class="ui left icon input">
							<i class="lock icon"></i>
							<input id="login-password" type="password" name="password" placeholder="Password">
						</div>
					</div>
					<div class="inline field">
						<div class="ui checkbox">
							<input name="rememberme" type="checkbox">
							<label>Remember me</label>
						</div>
					</div>
					<div id="btn-login" class="ui fluid large teal submit button">Login</div>
				</div>
				<div class="ui error message"></div>
			</form>
			<div id="login-alert"></div>
			<div class="ui segment">
				<a class="fluid ui button" href="/signup">New to us? Sign Up</a>
			</div>
		</div>
		<div class="eight wide column">
			<h3 class="ui dividing header">VISION DEALER PORTAL FEATURES</h3>
			<ul class="ui list">
				<li>Authorized Vision Warehouse Distributors</li>
				<li>Check Inventory On All Current Wheels</li>
				<li>Hi-Resolution Product, Vehicle, and Logo Images</li>
				<li>Make Payment On a Current Purchase Order</li>
			</ul>
			<h3 class="ui dividing header">MAP POLICY</h3>
			<p>Vision Wheel has unilaterally adopted a Minimum Advertised Pricing ("MAP") Policy.</p>
			<p>
				<a href="http://www.visionwheel.com/files/VISION-MAP-Policy-072016.pdf" target="_blank">
				Review Vision MAP Policy document
				</a>
			</p>
		</div>
	</div>
</div>
<div class="ui inverted vertical footer segment">
	<div class="ui center aligned container">
		<div class="ui stackable inverted divided grid">
			<div class="four wide column">
				<h4 class="ui inverted header">VISION WORLD</h4>
				<div class="ui inverted link list">
					<a href="#" class="item">Link One</a>
					<a href="#" class="item">Link Two</a>
					<a href="#" class="item">Link Three</a>
					<a href="#" class="item">Link Four</a>
				</div>
			</div>
			<div class="four wide column">
				<h4 class="ui inverted header">MEDIA</h4>
				<div class="ui inverted link list">
					<a href="#" class="item">Link One</a>
					<a href="#" class="item">Link Two</a>
					<a href="#" class="item">Link Three</a>
					<a href="#" class="item">Link Four</a>
				</div>
			</div>
			<div class="eight wide column">
				<h4 class="ui inverted header">CONTACT</h4>
				<p>Vision, Milanni, and Off-Road wheels are distributed Nationally and Internationally through a network of distributors.</p>
			</div>
		</div>
		<div class="ui inverted section divider"></div>
		<img src="/images/favicon.ico" class="ui centered mini image">
		<div class="ui horizontal inverted small divided link list">
			<a class="item" href="#">NEWS</a>
			<a class="item" href="#">FAQ</a>
			<a class="item" href="#">DISTRIBUTORS</a>
			<a class="item" href="#">WARRANTY</a>
			<a class="item" href="#">CONTACT US</a>
		</div>
	</div>
</div>
