<div class="ui secondary segment">
	<div id="PaymentsAccordion" class="ui styled fluid accordion">
		<div id="PaymentsAccordionTitle" class="title">
			<i class="dropdown icon"></i>
			Payments
		</div>
		<div class="content">
			<table id="PaymentsTable" class="ui fixed single line celled table">
				<thead>
					<tr>
						<th>CAMPAIGN</th>
						<th>AMOUNT</th>
						<th>STATUS</th>
						<th>DATE</th>
						<th>ERROR</th>
					</tr>
				</thead>
				<tbody id="PaymentsCollectionView"></tbody>
			</table>
		</div>
	</div>
</div>
<div class="ui segment">
	<h2 class="ui right floated header">Payment Information</h2>
	<div class="ui clearing divider"></div>
	<div class="ui segments">
		<div class="ui segment">
			<form id="PaymentInformationForm" class="ui equal width form">
				<div class="fields">
					<div class="field">
						<h4 class="ui left aligned header">Paypal Email</h4>
						<p>Please provide your PayPal email address.</p>
					</div>
				</div>
				<div class="fields">
					<div class="field">
						<label>PayPal email address</label>
						<div class="ui labeled icon input">
							<div class="ui label">
								<i class="paypal icon"></i>
							</div>
							{[ if (paymentInfo.payPalEmail) { ]}
							<input type="email" name="paypalEmail" placeholder="{{ paymentInfo.payPalEmail }}" value="{{ paymentInfo.payPalEmail }}">
							{[ } else { ]}
							<input type="email" name="paypalEmail">
							{[ } ]}
						</div>
					</div>
					<div class="field">
						<label>Verify PayPal email address</label>
						<input type="email" name="verifyPaypalEmail">
					</div>
				</div>
				<div class="fields">
					<div class="field">
						<button class="fluid ui button">Dont have a paypal account? Sign up here</button>
					</div>
				</div>
				<div class="ui primary button" tabindex="0">Save</div>
				<p>You will receieve an email confirming the changes to your profile once saved</p>
			</form>
		</div>
		<div class="ui secondary segment">
			<form id="W9Form" class="ui form">
				<div class="fields">
					<div class="field">
						<h4 class="ui left aligned header">W-9 Form</h4>
					</div>
				</div>
				<div class="fields">
					<div class="field">
						<p>A W-9 Form is required for processing your payment.</p>
						<div class="ui bulleted link list">
							<div class="item">Fill out and sign your W-9 form at <a href="http://www.irs.gov/pub/irs-pdf/fw9.pdf" target="_blank">http://www.irs.gov/pub/irs-pdf/fw9.pdf</a>, the official US Federal Government website.</div>
							<div class="item">Upload your completed and signed PDF.</div>
						</div>
					</div>
				</div>
				<div class="ui segment">
					<div class="ui primary button" tabindex="0">Upload Complete W-9 Form</div>
					<p>You will receieve an email confirming the changes to your profile once saved</p>
				</div>
				<div class="ui message">
					<p>You have submitted a W-9 form View Submission</p>
				</div>
			</form>
		</div>
	</div>
</div>