<div class="ui stackable four column grid">
    <div class="center aligned three column row">
        <div class="ui column">
            <div class="ui teal statistic">
                <div class="value">
                    {{ campaigns.totalCampaigns }}
                </div>
                <div class="label">
                    Campaigns
                </div>
            </div>
        </div>
        <div class="ui column">
            <div class="ui teal statistic">
                <div class="value">
                    {{ campaigns.totalParticipations }}
                </div>
                <div class="label">
                    Particpations
                </div>
            </div>
        </div>
        <div class="ui column">
            <div class="ui teal statistic">
                <div class="value">
                    {{ users.totalUsers }}
                </div>
                <div class="label">
                    Users
                </div>
            </div>
        </div>
    </div>
</div>