<div class="ui segment">
	<h4 class="ui left aligned header">Please take a moment to select <strong>up to 4 topics</strong> that best characterize your blogs or social networks. Choose from the topics below so we can send you relevant campaign information</h4>
</div>
<div class="ui segment">
	<form id="TopicsForm" class="ui form">
		<div class="three fields">
			<div class="field">
				<div class="ui toggle checkbox">
			      <input type="checkbox" tabindex="0" class="hidden" name="family" value="13">
			      <label>Family And Parenting</label>
			    </div>
			</div>
			<div class="field">
				<div class="ui toggle checkbox">
			      <input type="checkbox" tabindex="0" class="hidden" name="reviews" value="16">
			      <label>Reviews and Giveaways</label>
			    </div>
			</div>
			<div class="field">
				<div class="ui toggle checkbox">
			      <input type="checkbox" tabindex="0" class="hidden" name="education" value="1">
			      <label>Education and Homeschooling</label>
			    </div>
			</div>
		</div>
		<div class="three fields">
			<div class="field">
				<div class="ui toggle checkbox">
			      <input type="checkbox" tabindex="0" class="hidden" name="music" value="17">
			      <label>Music</label>
			    </div>
			</div>
			<div class="field">
				<div class="ui toggle checkbox">
			      <input type="checkbox" tabindex="0" class="hidden" name="photography" value="11">
			      <label>Photography/Video</label>
			    </div>
			</div>
			<div class="field">
				<div class="ui toggle checkbox">
			      <input type="checkbox" tabindex="0" class="hidden" name="deals" value="9">
			      <label>Deals, Coupons and Freebies</label>
			    </div>
			</div>
		</div>
		<div class="three fields">
			<div class="field">
				<div class="ui toggle checkbox">
			      <input type="checkbox" tabindex="0" class="hidden" name="gaming" value="15">
			      <label>Gaming</label>
			    </div>
			</div>
			<div class="field">
				<div class="ui toggle checkbox">
			      <input type="checkbox" tabindex="0" class="hidden" name="green" value="5">
			      <label>Green Living and Ecofriendly</label>
			    </div>
			</div>
			<div class="field">
				<div class="ui toggle checkbox">
			      <input type="checkbox" tabindex="0" class="hidden" name="arts_crafts" value="8">
			      <label>Arts and Crafts</label>
			    </div>
			</div>
		</div>
		<div class="three fields">
			<div class="field">
				<div class="ui toggle checkbox">
			      <input type="checkbox" tabindex="0" class="hidden" name="technology" value="6">
			      <label>Technology and Electronics</label>
			    </div>
			</div>
			<div class="field">
				<div class="ui toggle checkbox">
			      <input type="checkbox" tabindex="0" class="hidden" name="health" value="12">
			      <label>Health</label>
			    </div>
			</div>
			<div class="field">
				<div class="ui toggle checkbox">
			      <input type="checkbox" tabindex="0" class="hidden" name="film" value="10">
			      <label>Film</label>
			    </div>
			</div>
		</div>
		<div class="three fields">
			<div class="field">
				<div class="ui toggle checkbox">
			      <input type="checkbox" tabindex="0" class="hidden" name="homegarden" value="2">
			      <label>Home and Garden, DIY, Decor and Lifestyle</label>
			    </div>
			</div>
			<div class="field">
				<div class="ui toggle checkbox">
			      <input type="checkbox" tabindex="0" class="hidden" name="beauty" value="20">
			      <label>Beauty</label>
			    </div>
			</div>
			<div class="field">
				<div class="ui toggle checkbox">
			      <input type="checkbox" tabindex="0" class="hidden" name="travel" value="7">
			      <label>Travel</label>
			    </div>
			</div>
		</div>
		<div class="three fields">
			<div class="field">
				<div class="ui toggle checkbox">
			      <input type="checkbox" tabindex="0" class="hidden" name="fashion" value="19">
			      <label>Fashion</label>
			    </div>
			</div>
			<div class="field">
				<div class="ui toggle checkbox">
			      <input type="checkbox" tabindex="0" class="hidden" name="pets" value="4">
			      <label>Pets</label>
			    </div>
			</div>
			<div class="field">
				<div class="ui toggle checkbox">
			      <input type="checkbox" tabindex="0" class="hidden" name="fitness" value="22">
			      <label>Fitness</label>
			    </div>
			</div>
		</div>
		<div class="three fields">
			<div class="field">
				<div class="ui toggle checkbox">
			      <input type="checkbox" tabindex="0" class="hidden" name="sports" value="3">
			      <label>Sports</label>
			    </div>
			</div>
			<div class="field">
				<div class="ui toggle checkbox">
			      <input type="checkbox" tabindex="0" class="hidden" name="toys" value="21">
			      <label>Toys</label>
			    </div>
			</div>
			<div class="field">
				<div class="ui toggle checkbox">
			      <input type="checkbox" tabindex="0" class="hidden" name="business" value="14">
			      <label>Business</label>
			    </div>
			</div>
		</div>
		<div class="two fields">
			<div class="field">
				<div class="ui toggle checkbox">
			      <input type="checkbox" tabindex="0" class="hidden" name="politics" value="23">
			      <label>Politics</label>
			    </div>
			</div>
			<div class="field">
				<div class="ui toggle checkbox">
			      <input type="checkbox" tabindex="0" class="hidden" name="foodie" value="18">
			      <label>Food and Recipes</label>
			    </div>
			</div>
		</div>
		<div class="ui primary button" tabindex="0">Save</div>
		<p>You will receieve an email confirming the changes to your profile once saved</p>
	</form>
</div>
