/*******************************
            Loader
*******************************/

/* Standard Size */
.ui.loader {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0px;
    text-align: center;
    z-index: 1000;
    transform: translateX(-50%) translateY(-50%);

    &:before {
        /* Static Shape */
        position: absolute;
        content: '';
        top: 0%;
        left: 50%;
        width: 100%;
        height: 100%;
        border-radius: 500rem;
        border: 0.2em solid rgba(0, 0, 0, 0.1);
    }

    &:after {

        /* Active Shape */
        position: absolute;
        content: '';
        top: 0%;
        left: 50%;
        width: 100%;
        height: 100%;
        animation: loader 0.6s linear;
        animation-iteration-count: infinite;
        border-radius: 500rem;
        border-color: $black_46 transparent transparent;
        border-style: solid;
        border-width: 0.2em;
        box-shadow: 0px 0px 0px 1px transparent;
    }

}

/* Active Animation */
@keyframes loader {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

/* Sizes */
.ui.loader {
    &:before,
    &:after {
        width: 2.2585em;
        height: 2.2585em;
        margin: 0em 0em 0em -1.12925em;
    }

}

.ui.mini.loader {
    &:before,
    &:after {
        width: 1.2857em;
        height: 1.2857em;
        margin: 0em 0em 0em -0.64285em;
    }

}

.ui.small.loader {
    &:before,
    &:after {
        width: 1.7142em;
        height: 1.7142em;
        margin: 0em 0em 0em -0.8571em;
    }

}

.ui.large.loader {
    &:before,
    &:after {
        width: 4.5714em;
        height: 4.5714em;
        margin: 0em 0em 0em -2.2857em;
    }

}

/*-------------------
      Coupling
--------------------*/

/* Show inside active dimmer */
.ui.dimmer {
    .loader {
        display: block;
    }

    .ui.loader {

        /* Black Dimmer */
        color: rgba(255, 255, 255, 0.9);

        &:before {
            border-color: rgba(255, 255, 255, 0.15);
        }

        &:after {
            border-color: #ffffff transparent transparent;
        }

    }

}

/* White Dimmer (Inverted) */
.ui.inverted.dimmer {
    .ui.loader {
        color: rgba(0, 0, 0, 0.87);

        &:before {
            border-color: rgba(0, 0, 0, 0.1);
        }

        &:after {
            border-color: $black_46 transparent transparent;
        }

    }

}

/*******************************
     Types
*******************************/

/*-------------------
Text
--------------------*/

.ui.text.loader {
    width: auto !important;
    height: auto !important;
    text-align: center;
    font-style: normal;
}

/*******************************
    States
*******************************/
*
.ui.indeterminate.loader {
    &:after {
        animation-direction: reverse;
        animation-duration: 1.2s;
    }

}

.ui.loader.active,
.ui.loader.visible {
    display: block;
}

.ui.loader.disabled,
.ui.loader.hidden {
    display: none;
}

/*******************************
    Variations
*******************************/

/*-------------------
Sizes
--------------------*/

/* Loader */
.ui.inverted.dimmer .ui.mini.loader,
.ui.mini.loader {
    width: 1.2857em;
    height: 1.2857em;
    font-size: 0.71428571em;
}

.ui.inverted.dimmer .ui.small.loader,
.ui.small.loader {
    width: 1.7142em;
    height: 1.7142em;
    font-size: 0.92857143em;
}

.ui.inverted.dimmer .ui.loader,
.ui.loader {
    width: 2.2585em;
    height: 2.2585em;
    font-size: 1em;
}

.ui.inverted.dimmer .ui.loader.large,
.ui.loader.large {
    width: 4.5714em;
    height: 4.5714em;
    font-size: 1.14285714em;
}

/* Text Loader */
.ui.mini.text.loader {
    min-width: 1.2857em;
    padding-top: 1.99998571em;
}

.ui.small.text.loader {
    min-width: 1.7142em;
    padding-top: 2.42848571em;
}

.ui.text.loader {
    min-width: 2.2585em;
    padding-top: 2.97278571em;
}

.ui.large.text.loader {
    min-width: 4.5714em;
    padding-top: 5.28568571em;
}

/*-------------------
       Inverted
--------------------*/
.ui.inverted.loader {
    color: rgba(255, 255, 255, 0.9);

    &:before {
        border-color: rgba(255, 255, 255, 0.15);
    }

    &:after {
        border-top-color: $white;
    }

}

/*-------------------
       Inline
--------------------*/
.ui.inline.loader {
    position: relative;
    vertical-align: middle;
    margin: 0em;
    left: 0em;
    top: 0em;
    transform: none;
}

.ui.inline.loader.active,
.ui.inline.loader.visible {
    display: inline-block;
}

/* Centered Inline */
.ui.centered.inline.loader.active,
.ui.centered.inline.loader.visible {
    display: block;
    margin-left: auto;
    margin-right: auto;
}