<div id="DashboardFirstRow" class="row carousel-holder">
	<div class="col-md-12">
		<img class="img-responsive" src="http://placehold.it/900x300" alt="">
	</div>
</div>
<div id="DashboardSecondRow" class="row">
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <a href="#" data-bypass> <img src="http://placehold.it/320x150" alt=""> </a>
            <div class="caption">
                <h4 class="pull-right">$64.99</h4>
                <h4><a href="#" data-bypass>Participation Name</a></h4>
                <p>See more campaigns.</p>
            </div>
            <div class="ratings">
                <p class="pull-right">
                    12 Comments
                </p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <a href="#" data-bypass> <img src="http://placehold.it/320x150" alt=""> </a>
            <div class="caption">
                <h4 class="pull-right">$64.99</h4>
                <h4><a href="#" data-bypass>Participation Name</a></h4>
                <p>See more campaigns.</p>
            </div>
            <div class="ratings">
                <p class="pull-right">
                    12 Comments
                </p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <a href="#" data-bypass> <img src="http://placehold.it/320x150" alt=""> </a>
            <div class="caption">
                <h4 class="pull-right">$64.99</h4>
                <h4><a href="#" data-bypass>Participation Name</a></h4>
                <p>See more campaigns.</p>
            </div>
            <div class="ratings">
                <p class="pull-right">
                    12 Comments
                </p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </p>
            </div>
        </div>
    </div>
</div>
