<div class="ui stackable four column grid">
    <div class="center aligned three column row">
        <div class="ui column">
            <div class="ui teal statistic">
                <div id="pageviews" class="value"></div>
                <div class="label">
                    Page Views
                </div>
            </div>
        </div>
        <div class="ui column">
            <div class="ui teal statistic">
                <div id="uniquevisits" class="value"></div>
                <div class="label">
                    Unique Visitors
                </div>
            </div>
        </div>
        <div class="ui column">
            <div class="ui teal statistic">
                <div id="avgtime" class="value"></div>
                <div class="label">
                    Avg. Time Spent
                </div>
            </div>
        </div>
    </div>
</div>