//
// Variables
// --------------------------------------------------

//== Colors

$black: 						#000 !default;
$black_0_01: 					rgba(0, 0, 0, 0.0001) !default;
$black_10: 						rgba(0, 0, 0, 0.1) !default;
$black_15: 						rgba(0, 0, 0, 0.15) !default;
$black_17_5: 					rgba(0, 0, 0, 0.175) !default;
$black_40: 						rgba(0, 0, 0, 0.4) !default;
$black_46: 						rgba(0, 0, 0, 0.46) !default;
$black_50: 						rgba(0, 0, 0, 0.5) !default;
$black_60: 						rgba(0, 0, 0, 0.6) !default;
$black_65: 						rgba(0, 0, 0, 0.65) !default;
$black_70: 						rgba(0, 0, 0, 0.7) !default;
$black_80: 						rgba(0, 0, 0, 0.8) !default;
$black_87:						rgba(0, 0, 0, 0.87) !default;
$black_90:                      rgba(0, 0, 0, 0.9) !default;
$black_light_6:                 lighten($black, 6%) !default;
$black_light_16:                lighten($black, 16%) !default;
$black_light_19:                lighten($black, 19%) !default;
$black_light_21:                lighten($black, 21%) !default;

$white:         				#fff !default;
$white_10: 						rgba(255, 255, 255, 0.1) !default;
$white_20: 						rgba(255, 255, 255, 0.2) !default;
$white_60: 						rgba(255, 255, 255, 0.6) !default;
$white_70: 						rgba(255, 255, 255, 0.7) !default;
$white_80: 						rgba(255, 255, 255, 0.8) !default;
$white_90: 						rgba(255, 255, 255, 0.9) !default;

$contrasted-dark-default:   $black !default;
$contrasted-light-default:  $white !default;

$mercury: 						#e5e5e5 !default;
$concrete: 						#f2f2f2 !default;
$red: 							#FF0000 !default;
$orange: 						#FFBF00 !default;
$yellow: 						#FFFF00 !default;
$green: 						#7FFF00 !default;
$blue:							#4183c4 !default;
$blue-right: 					#0000FF !default;
$light-blue: 					#007FFF !default;
$slight-blue:					#1e70bf !default;
$powder-blue:					#cce2ff !default;
$dark-blue: 					#3D518F !default;
$cyan: 							#00FFFF !default;
$purple: 						#7F00FF !default;
$magenta: 						#FF00FF !default;
$dark_approx: 					#1b1c1d !default;

//## Gray and brand colors for use across globally.
$gray:          				lighten($black, 33.5%) !default; 	// #555
$gray_73:                       lighten($gray, 73%) !default;
$gray_76: 				        lighten($gray, 76%) !default;   	// #c0c1c2
$gray_80: 				        lighten($gray, 80%) !default;   	// #cacbcd

$dimmer-light:					rgba(34, 36, 38, 0.15) !default;   		// #222426
$dimmer-trans:					rgba(100, 100, 100, 0.4) !default;   	// #646464

$color_apple_approx: 			#33b233 !default;
$color_alto_approx: 			#dcdcdc !default;
$color_cerulean_approx: 		#038be1 !default;
$color_cod_gray_approx: 		#080808 !default;
$color_cararra_approx: 			#ebebeb !default;
$color_celeste_approx: 			#cccccc !default;
$color_chicago_approx: 			#5e5e5e !default;
$color_calypso_approx: 			#31708f !default;
$color_chelsea_cucumber_approx: #8bbf61 !default;
$color_cumulus_approx: 			#fffcd5 !default;
$color_jungle_green_approx: 	#26a69a !default;
$color_tuna_approx: 			#313946 !default;
$color_pumice_approx: 			#c7c8ca !default;
$color_gray_approx: 			#7c8082 !default;
$color_pink_swan_approx: 		#bbb !default;
$color_mountain_mist_approx: 	#999 !default;
$color_nobel_approx: 			rgb(180, 180, 180) !default;
$color_gallery_approx: 			#eee !default;
$color_forest_green_approx: 	#159238 !default;
$color_gold_10_approx: 			rgba(255, 210, 0, 0.1) !default;
$color_gold_30_approx: 			rgba(255, 210, 0, 0.3) !default;
$color_mine_shaft_approx: 		#313131 !default;
$color_mystic_approx: 			#e4ecf7 !default;
$color_boston_blue_approx: 		#428bca !default;
$color_elm_approx: 				#1c7d74 !default;
$color_wild_sand_approx: 		#f5f5f5 !default;
$color_star_dust_approx: 		#9e9e9e !default;
$color_mercury_approx: 			#e2e9e6 !default;
$color_fuscous_gray_approx: 	#544f4e !default;
$color_san_juan_approx: 		#245269 !default;
$color_silver_approx: 			#bdbdbd !default;
$color_tapa_approx: 			#777777 !default;
$color_ice_cold_approx: 		#acece6 !default;
$color_sprout_approx: 			#c0dcaa !default;
$color_pine_glade_approx: 		#b3d597 !default;
$color_link_water_approx: 		#d9edf7 !default;
$color_tropical_blue_approx: 	#c4e3f3 !default;
$color_driftwood_approx: 		#ab7a4b !default;
$color_santa_fe_approx: 		#a77749 !default;
$color_well_read_approx: 		#bd362f !default;
$color_roof_terracotta_approx: 	#a9302a !default;
$color_burnt_umber_approx: 		#942a25 !default;
$color_wafer_approx: 			#dacdcd !default;
$color_japanese_laurel_approx: 	green !default;
$color_snowy_mint_approx: 		#ccface !default;
$color_tahuna_sands_approx: 	#f2efca !default;
$color-brand: 					#999999 !default;
$color-theme: 					#222222 !default;
$color-link: 					$dark-blue !default;


//== Typography

//## Font, line-height, and color for body text, headings, and more.
$font-family-serif:       		Georgia, "Times New Roman", Times, serif !default;
$font-family-sans-serif:  		"Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-lato-sans-serif:	"Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family:                 $font-family-sans-serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   		Menlo, Monaco, Consolas, "Courier New", monospace !default;

$font-size-h1:            		2rem !default;
$font-size-h2:            		1.714rem !default;
$font-size-h3:            		1.28rem !default;
$font-size-h4:            		1.071rem !default;
$font-size-h5:            		1rem !default;

$base-font-size:                14px !default;
$base-font-family:              $font-family-lato-sans-serif !default;
$base-unit:                     'em' !default;
$base-line-height:              24px !default;

$h1-font-size:                  2    * $base-font-size !default;
$h2-font-size:                  1.5  * $base-font-size !default;
$h3-font-size:                  1.17 * $base-font-size !default;
$h4-font-size:                  1    * $base-font-size !default;
$h5-font-size:                  0.83 * $base-font-size !default;
$h6-font-size:                  0.67 * $base-font-size !default;

// The font sizes for h1-h6 expressed as tee shirt sizes.
$font-size: (
  xxl: 32px,
  xl:  24px,
  l:   20px,
  m:   $base-font-size,
  s:   14px,
  xs:  10px,
);

// A list of all text-based_ HTML inputs.
//
// @type list
//
// @access private
$inputs-text-only-list: (
    "input:not([type])",
    "input[type='color']",
    "input[type='date']",
    "input[type='datetime']",
    "input[type='datetime-local']",
    "input[type='email']",
    "input[type='month']",
    "input[type='number']",
    "input[type='password']",
    "input[type='search']",
    "input[type='tel']",
    "input[type='text']",
    "input[type='time']",
    "input[type='url']",
    "input[type='week']",
);
$inputs-text-list: append($inputs-text-only-list, "textarea", comma);

//== Sprite-Img

// Determines those states for which you want to enable magic sprite selectors
$sprite-selectors:                hover, target, active, focus !default;
// Determines if you want to include magic selectors in your sprites
$disable-magic-sprite-selectors:  false !default;
// Set this to underscore if you prefer
$default-sprite-separator:        "-" !default;
// @doc off
// Example 1:
//
//     a.twitter
//       +sprite-img("icons-32.png", 1)
//     a.facebook
//       +sprite-img("icons-32png", 2)
//
// Example 2:
//
//     a
//       +sprite-background("icons-32.png")
//       a.twitter
//         +sprite-column(1)
//       a.facebook
//         +sprite-row(2)
// @doc on
$sprite-default-size:             32px !default;
$sprite-default-margin:           0px !default;
$sprite-image-default-width:      $sprite-default-size !default;
$sprite-image-default-height:     $sprite-default-size !default;

//== Iconography

// Specify custom location and filename of the included icon font.
// Load fonts from this directory.
$font-base-path:				"../fonts" !default;
// By Default, for now were using semantic icons, but this will change
$icon-font-semantic-path:  		"#{$font-base-path}/semantic/" !default; // Relative to where the CSS will be output
$icon-font-semantic-name:    	"icons" !default;
$icon-font-semantic-family:  	"Icons" !default;
$icon-font-semantic-svg-id:  	"icons" !default;

$icon-font-lato-path:  			"#{$font-base-path}/lato/" !default; // Relative to where the CSS will be output
$icon-font-lato-family:  		"Lato" !default;
$icon-font-lato-regular-1:		"lato-regular-1" !default;
$icon-font-lato-regular-2:		"lato-regular-2" !default;
$icon-font-lato-bold-1:			"lato-bold-1" !default;
$icon-font-lato-bold-2:			"lato-bold-2" !default;
$icon-font-lato-italic-1:		"lato-italic-1" !default;
$icon-font-lato-italic-2:		"lato-italic-2" !default;
$icon-font-lato-bolditalic-1:	"lato-bolditalic-1" !default;
$icon-font-lato-bolditalic-2:	"lato-bolditalic-2" !default;

$icon-codes: (
  web-content: (
    browser: "\f022",
    search: "\f002",
  )
);

//== Support

// The list of browsers you want to support.
// Defaults to all.
$supported-browsers: (
  ie: ms,
  firefox: moz,
  chrome: webkit,
  safari: webkit,
  opera: webkit,
  android: webkit,
  android-chrome: webkit,
  android-firefox: moz,
  blackberry: webkit,
  ie-mobile: ms,
  ios-safari: webkit,
  opera-mini: o,
  opera-mobile: o,
) !default;
// The browser usage threshold for features that gracefully degrade
// Defaults to 1 user in 1,000.
$graceful-usage-threshold: 			0.1 !default;
// The browser usage threshold for features that cannot degrade gracefully
// Defaults to 1 user in 10,000.
$critical-usage-threshold: 			0.01 !default;
// Set this to true to generate comments that will explain why a prefix was included or omitted.
$debug-browser-support: 			false !default;
// Minimum browser versions that must be supported.
// The keys of this map are any valid browser according to `browsers()`.
// The values of this map are the min version that is valid for that browser
// according to `browser-versions($browser)`
$browser-minimum-versions: (
	ie:      '9',
  firefox: '46',
  chrome:  '50',
  safari:  '9',
	opera:   '36',
	android: '4',
  android-chrome: '36',
  android-firefox:  '31',
  blackberry webkit:      '10',
  ie-mobile:  '10',
	ios-safari: '8',
	opera-mini: '5',
	opera-mobile:  '22',
) !default;
// These are versions that users might reasonably type
// mapped to the caniuse version.
$alternative-versions: (
  android (
    '4 4.2-4.3',
    '4.3 4.2-4.3',
  )
  opera (
    '9.5 9.5-9.6',
    '9.6 9.5-9.6',
    '10.0 10.0-10.1',
    '10.1 10.0-10.1',
  )
  opera-mobile (
    '14 0'
  )
);
$default-capability-options: (
  (full-support: true),
  (partial-support: true)
);
$flexbox-capability-options: (
  (full-support: true),
  (partial-support: true, spec-versions: 3)
);
// When a prefix in in context, but there is no current prefix
// That context is recorded here so other prefixes can be avoided.
$prefix-context: 					null;
// When a prefix is in a selector or directive scope, this is set to the
// current prefix value.  When `null`, either there is no prefix in scope
// or the official prefix is being rendered. The `$prefix-context`
// variable can be used to make that distinction.
$current-prefix: 					null;
// When in a context that only exists in a particular version
// this variable is set to those versions.
$current-browser-versions: 			();
// The legacy support CSS 2.1 Selectors.
// Defaults to the $critical-usage-threshold.
$css-sel2-support-threshold: 		$critical-usage-threshold !default;
// The the user threshold for transition support. Defaults to `$graceful-usage-threshold`
$transition-support-threshold: 		$graceful-usage-threshold !default;
// The the user threshold for border-radius support. Defaults to `$graceful-usage-threshold`
$border-radius-threshold: 			$graceful-usage-threshold !default;
// The length of a border-radius to be used by default.
$default-border-radius: 			5px !default;
// Including this submodule sets following defaults for the mixins:
//
//     $default-transition-property : all
//     $default-transition-duration : 1s
//     $default-transition-function : false
//     $default-transition-delay    : false
//
// Override them if you like. Timing-function and delay are set to false for browser defaults (ease, 0s).
$default-transition-property: 		all !default;
$default-transition-duration: 		1s !default;
$default-transition-function: 		false !default;
$default-transition-delay: 			false !default;
$transitionable-prefixed-values: 	transform, transform-origin !default;
// @private
$old-variable-warnings-issued: 		warn-about-old-variables() !default;
// @private
$pie-removal-warning-issued: 		warn-about-pie-removal() !default;

// These defaults make the arguments optional for this mixin
// If you like, set different defaults in your project
$default-text-shadow-color      : #aaaaaa !default;
$default-text-shadow-h-offset   : 0px     !default;
$default-text-shadow-v-offset   : 0px     !default;
$default-text-shadow-blur       : 1px     !default;
$default-text-shadow-spread     : false   !default;

// The prefixed support threshold for ::selection.
// Defaults to the $graceful-usage-threshold.
$selection-support-threshold:     $graceful-usage-threshold !default;

// The prefixed support threshold for box-shadow.
// Defaults to the $graceful-usage-threshold.
$box-shadow-support-threshold: 		$graceful-usage-threshold !default;
// The default color for box shadows
$default-box-shadow-color: 			#333333 !default;
// The default horizontal offset. Positive is to the right.
$default-box-shadow-h-offset: 		0px !default;
// The default vertical offset. Positive is down.
$default-box-shadow-v-offset: 		0px !default;
// The default blur length.
$default-box-shadow-blur: 			5px !default;
// The default spread length.
$default-box-shadow-spread: 		null !default;
// The default shadow inset: inset or null (for standard shadow).
$default-box-shadow-inset: 			null !default;

// The legacy support for inline-block.
// Defaults to the $graceful-usage-threshold.
$inline-block-support-threshold: 	$graceful-usage-threshold !default;
// Set `$inline-block-alignment` to `none` or `false` to disable the output
// of a vertical-align property in the inline-block mixin.
// Or set it to a legal value for `vertical-align` to change the default.
$inline-block-alignment: 			middle !default;

$flexbox-support-threshold: 		$critical-usage-threshold !default;

// The `zoom` approach generates less CSS but does not validate.
// Set this to `block` to use the display-property to hack the
// element to gain layout.
$default-has-layout-approach: 			zoom !default;
// The legacy support threshold for IE6 attribute hack.
// Defaults to the $critical-usage-threshold.
$ie6-attribute-hack-support-threshold: 	$critical-usage-threshold !default;
// The legacy support threshold for float.
// Defaults to the $critical-usage-threshold.
$legacy-float-support-threshold: 		$critical-usage-threshold !default;

// The prefixed support threshold for animation.
// Defaults to the $graceful-usage-threshold.
$animation-support-threshold: 			$graceful-usage-threshold !default;
// Name of any animation as a string.
$default-animation-name: 				null !default;
// Duration of the entire animation in seconds.
$default-animation-duration: 			null !default;
// Delay for start of animation in seconds.
$default-animation-delay: 				null !default;
// The timing function(s) to be used between keyframes. [ease | linear | ease-in | ease-out | ease-in-out | cubic-bezier($number, $number, $number, $number)]
$default-animation-timing-function: 	null !default;
// The number of times an animation cycle is played. [infinite | $number]
$default-animation-iteration-count: 	null !default;
// Whether or not the animation should play in reverse on alternate cycles. [normal | alternate]
$default-animation-direction: 			null !default;
// What values are applied by the animation outside the time it is executing. [none | forwards | backwards | both]
$default-animation-fill-mode: 			null !default;
// Whether the animation is running or paused. [running | paused]
$default-animation-play-state: 			null !default;

// The prefixed support threshold for user-select.
// Defaults to the $graceful-usage-threshold.
$userselect-support-threshold: 			$graceful-usage-threshold !default;
// The prefixed support threshold for input-placeholder.
// Defaults to the $graceful-usage-threshold.
$input-placeholder-support-threshold: 	$graceful-usage-threshold !default;

// The prefixed support threshold for css regions.
// Defaults to the $graceful-usage-threshold.
$regions-support-threshold: 			$graceful-usage-threshold !default;

// The the user threshold for transform support. Defaults to `$graceful-usage-threshold`
$transform-support-threshold: 			$graceful-usage-threshold !default;
// @doc off
// Note ----------------------------------------------------------------------
// Safari, Chrome, and Firefox all support 3D transforms. However,
// only in the most recent builds. You should also provide fallback 2d support for
// Opera and IE. IE10 is slated to have 3d enabled, but is currently unreleased.
// To make that easy, all 2D transforms include an browser-targeting toggle ($only3d)
// to switch between the two support lists. The toggle defaults to 'false' (2D),
// and also accepts 'true' (3D). Currently the lists are as follows:
// 2D: Mozilla, Webkit, Opera, Official
// 3D: Webkit, Firefox.

// Available Transforms ------------------------------------------------------
// - Scale (2d and 3d)
// - Rotate (2d and 3d)
// - Translate (2d and 3d)
// - Skew (2d only)

// Transform Parameters ------------------------------------------------------
// - Transform Origin (2d and 3d)
// - Perspective (3d)
// - Perspective Origin (3d)
// - Transform Style (3d)
// - Backface Visibility (3d)

// Mixins --------------------------------------------------------------------
// transform-origin
//  - shortcuts:  transform-origin2d, transform-origin3d
//  - helpers:    apply-origin
// transform
//  - shortcuts:  transform2d, transform3d
//  - helpers:    simple-transform, create-transform
// perspective
//  - helpers:    perspective-origin
// transform-style
// backface-visibility
// scale
//  - shortcuts:  scaleX, scaleY, scaleZ, scale3d
// rotate
//  - shortcuts:  rotateX, rotateY, rotate3d
// translate
//  - shortcuts:  translateX, translateY, translateZ, translate3d
// skew
//  - shortcuts:  skewX, skewY

// Defaults ------------------------------------------------------------------
// @doc on

// The default x-origin for transforms
$default-origin-x: 		50% !default;
// The default y-origin for transforms
$default-origin-y: 		50% !default;
// The default z-origin for transforms
$default-origin-z: 		50% !default;

// The default x-multiplier for scaling
$default-scale-x: 		1.25 !default;
// The default y-multiplier for scaling
$default-scale-y: 		$default-scale-x !default;
// The default z-multiplier for scaling
$default-scale-z: 		$default-scale-x !default;

// The default angle for rotations
$default-rotate: 		45deg !default;

// The default x-vector for the axis of 3d rotations
$default-vector-x: 		1 !default;
// The default y-vector for the axis of 3d rotations
$default-vector-y: 		1 !default;
// The default z-vector for the axis of 3d rotations
$default-vector-z: 		1 !default;

// The default x-length for translations
$default-translate-x: 	1em !default;
// The default y-length for translations
$default-translate-y: 	$default-translate-x !default;
// The default z-length for translations
$default-translate-z: 	$default-translate-x !default;

// The default x-angle for skewing
$default-skew-x: 		5deg !default;
// The default y-angle for skewing
$default-skew-y: 		5deg !default;

// The the user threshold for background-clip support. Defaults to `$critical-usage-threshold`
$background-clip-support-threshold:     $critical-usage-threshold !default;
// The default border-box model: [border-box | padding-box | content-box]
$default-background-clip:               padding-box !default;
// The the user threshold for background-origin support. Defaults to `$critical-usage-threshold`
$background-origin-threshold:           $critical-usage-threshold !default;
// The default background-origin: [border-box | padding-box | content-box]
$default-background-origin:             content-box !default;
// The the user threshold for background-clip support. Defaults to `$critical-usage-threshold`
$background-size-threshold:             $critical-usage-threshold !default;
//  override to change the default
$default-background-size:               100% auto !default;

// The the user threshold for hyphens support.
// Defaults to `$graceful-usage-threshold`.
$hyphens-support-threshold: 	$graceful-usage-threshold !default;

// Support the last 4 versions of all browsers except IE.
$support-for: (
  ie:  9,  // IE 9-11
  '*': -4, // The last 4 versions of all other browsers.
) !default;
// Set the current version number for all browsers. As of: 2016-04-30
$support-for-current-browser-version: (
  chrome:  50, // https://en.wikipedia.org/wiki/Google_Chrome_release_history
  edge:    25, // https://en.wikipedia.org/wiki/Microsoft_Edge
  firefox: 46, // https://en.wikipedia.org/wiki/Firefox_release_history
  ie:      11, // https://en.wikipedia.org/wiki/Internet_Explorer_versions
  opera:   36, // https://en.wikipedia.org/wiki/Opera_(web_browser)
  safari:  9,  // https://en.wikipedia.org/wiki/Safari_version_history
) !default;
// The base line height determines the basic unit of vertical rhythm.
$base-line-height: 24px !default;
// The amount lists and blockquotes are indented.
$indent-amount:       40px !default;
// The following variable controls whether normalize-scss will output
// font-sizes, line-heights and block-level top/bottom margins that form a basic
// vertical rhythm on the page, which differs from the original Normalize.css.
// However, changing any of the variables above will cause
// $normalize-vertical-rhythm to be automatically set to true.
$normalize-vertical-rhythm: false !default;
// Helper function for the normalize() mixin.
$_normalize-include:  (all);
$_normalize-exclude:  ();