
<div class="ui segment">
	<h3 class="ui header">{{ account.firstName }} {{ account.lastName }}</h3>
</div>
<div class="ui horizontal segments">
	<div class="ui segment">
		<img id="MyProfileAvatar" src="{{ avatar }}" alt="avatar" class="center-block img-square img-responsive">
	</div>
	<div class="ui segments">
		<div class="ui segment">
			<p><strong>Email: </strong> {{ account.email }} </p>
		</div>
		<div class="ui segment">
			{[ if (phone) { ]}
				<p><strong>Phone: </strong> {{ formatPhone(phone) }} </p>
			{[ } else { ]}
				<p><strong>Phone: </strong> N/A </p>
			{[ } ]}
		</div>
		{[ if (addresses && addresses.length > 0) { ]}
			<div class="ui segment">
				<p><strong>Address</strong></p>
			</div>
			<div class="ui segments">
			{[ _.each(addresses, function(address) { ]}
				<div class="ui segment">
					<p><strong>Residence: </strong> {{ address.type }} </p>
				</div>
				<div class="ui segment">
					<p><strong>Line 1: </strong> {{ address.line1 }} </p>
				</div>
				<div class="ui segment">
					<p><strong>City: </strong> {{ address.city }} </p>
				</div>
				<div class="ui segment">
					<p><strong>State: </strong> {{ address.state }} </p>
				</div>
				<div class="ui segment">
					<p><strong>Zipcode: </strong> {{ address.zip }} </p>
				</div>
			{[ }); ]}
			</div>
		{[ } else { ]}
			<div class="ui segment">
				<p><strong>Address: N/A</strong></p>
			</div>
		{[ } ]}
	</div>
</div>
{[ if (topics) { ]}
<div class="ui segment">
	<h3 class="ui header">Topics</h3>
</div>
<div class="ui segments">
	{[ _.each(topics, function(topic) { ]}
	<div class="ui segment">
		<p>{{ topic.displayName }}</p>
	</div>
	{[ }); ]}
</div>
{[ } ]}
{[ if (platforms) { ]}
<div class="ui segment">
	<h3 class="ui header">Social Media</h3>
</div>
<div class="ui segments">
	{[ _.each(platforms, function(platform) { ]}
	<div class="ui segment">
		<h3 class="ui header">
			{[ if (platform.canonical === 'googleplus') { ]}
				<i class="google plus icon"></i>
			{[ } else if (platform.canonical === 'stumble') { ]}
				<i class="stumbleupon icon"></i>
			{[ } else if (platform.canonical === 'blog') { ]}
				<i class="comments outline icon"></i>
			{[ } else { ]}
				<i class="{{ platform.canonical }} icon"></i>
			{[ } ]}
		</h3>
	</div>
	<div class="ui secondary segment">
		<div class="sub header">
			{{ platform.canonical }} - {{ platform.url }}
		</div>
	</div>
	{[ }); ]}
</div>
{[ } ]}
