<div id="ParticipationItemAccordionTitle" class="title">
	<i class="dropdown icon"></i>
	{{ campaign.displayName }}
</div>
<div class="content">
	<p class="transition hidden">
		<div class="ui left aligned container">
			<p><strong>Status:</strong> {{ status }}</p>
			<p><strong>Time left (DD:HH:MM):</strong> 14:25:00</p>
		</div>
		<div class="ui right aligned container">
			<a href="" class="ui right floated button" id="campaign-{{campaign.id}}" data-campaignid="{{campaign.id}}" data-bypass>Details</a>
		</div>
	</p>
</div>