<div id="UpcomingCampaignItemAccordionTitle" class="title">
	<i class="dropdown icon"></i>
	{{ displayName }}
</div>
<div class="content">
	<p class="transition hidden">
		<div class="ui left aligned container">
			<p><strong>Status:</strong><span class="campaign-status">{{ status }}</span></p>
			<p><strong>Time left (DD:HH:MM):</strong> <span>14:25:00</span></p>
		</div>
		<div class="ui right aligned container">
			<a href="" class="cta" id="campaign-{{id}}" data-campaignid="{{id}}" data-bypass>Details</a>
		</div>
	</p>
</div>