<a id="fsNavBrand" class="header item" href="">
    Firestarter
</a>
<a id="SideNavbarToggle" class="item" data-bypass>
	<i class="sidebar icon"></i>
</a>
<div id="UserMenuDropdown" class="ui right dropdown item">
    Welcome, {{ account.firstName }} {{ account.lastNameInitial }}.
    <i class="dropdown icon"></i>
    <div class="menu">
        <a id="linkMyProfile" href="/myprofile" class="item" data-value="myprofile">My Profile</a>
        <a id="linkContactTopNav" href="/contact" class="item" data-value="contact">Contact</a>
        <div class="divider"></div>
        <a id="linkUserLogout" href="" class="item" data-value="logout">Log Out</a>
    </div>
</div>