<div class="item">
	<div class="header">Campaigns</div>
	<div class="menu">
		<a id="linkDashboard" class="item" href="/dashboard"><i class="dashboard icon"></i>Dashboard</a>
		<a id="linkAvailableCampaigns" class="item" href="/availablecampaigns"><i class="announcement icon"></i>Available Campaigns</a>
		<a id="linkMyCampaigns" class="item" href="/mycampaigns"><i class="child icon"></i>My Campaigns</a>
	</div>
</div>
<div class="item">
	<div class="header">Profile</div>
	<div class="menu">
		<a id="linkMyProfileSideNav" class="item" href="/myprofile"><i class="user icon"></i>My Profile</a>
		<a id="linkContact" class="item" href="/contact"><i class="phone icon"></i>Contact</a>
		<a id="linkTopics" class="item" href="/topics"><i class="tags icon"></i>Topics</a>
		<a id="linkMyNetworks" class="item" href="/mynetworks"><i class="users icon"></i>My Networks</a>
		<a id="linkPaymentInfo" class="item" href="/paymentinfo"><i class="payment icon"></i>Payment Info</a>
	</div>
</div>
<a id="linkUserLogoutSideNav" class="item" href=""><i class="sign out icon"></i>Logout</a>