/*******************************
            FORM
*******************************/

.ui.form {
    position: relative;
    max-width: 100%;
}

/*--------------------
        Content
---------------------*/

.ui.form {
    > p {
        margin: 1em 0em;
    }
}

/*--------------------
        Field
---------------------*/

.ui.form {
    .fields .field,
    .field {
        clear: both;
        margin: 0em 0em 1em;
    }
    .fields:last-child .field,
    .field:last-child {
        margin-bottom: 0em;
    }
}

/*--------------------
        Labels
---------------------*/

.ui.form {
    .field {
        > label {
            display: block;
            margin: 0em 0em 0.28571429rem 0em;
            color: rgba(0, 0, 0, 0.87);
            font-size: 0.92857143em;
            font-weight: bold;
            text-transform: none;
        }
    }
}

/*--------------------
    Standard Inputs
---------------------*/

.ui.form {
    #{$all-text-inputs} {
        width: 100%;
        vertical-align: top;
    }
}
/* Set max height on unusual input */
.ui.form {
    ::-webkit-datetime-edit,
    ::-webkit-inner-spin-button {
        height: 1.2142em;
    }
    #{$only-text-inputs} {
        width: 100%;
        vertical-align: top;
        font-family: $base-font-family;
        margin: 0em;
        outline: none;
        appearance: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        line-height: 1.2142em;
        padding: 0.67861429em 1em;
        font-size: 1em;
        background: $white;
        border: 1px solid $dimmer-light;
        color: rgba(0, 0, 0, 0.87);
        border-radius: 0.28571429rem;
        box-shadow: 0em 0em 0em 0em transparent inset;
        transition: color 0.1s ease, border-color 0.1s ease;
    }
}
/* Text Area */
.ui.form {
    textarea {
        width: 100%;
        vertical-align: top;
        margin: 0em;
        appearance: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        padding: 0.78571429em 1em;
        background: $white;
        border: 1px solid $dimmer-light;
        outline: none;
        color: rgba(0, 0, 0, 0.87);
        border-radius: 0.28571429rem;
        box-shadow: 0em 0em 0em 0em transparent inset;
        transition: color 0.1s ease, border-color 0.1s ease;
        font-size: 1em;
        line-height: 1.2857;
        resize: vertical;
        &:not([rows]) {
            height: 12em;
            min-height: 8em;
            max-height: 24em;
        }
        &:focus {
            color: rgba(0, 0, 0, 0.95);
            border-color: #85b7d9;
            border-radius: 0.28571429rem;
            background: $white;
            box-shadow: 0px 0em 0em 0em rgba(34, 36, 38, 0.35) inset;
            appearance: none;
        }
    }
    textarea,
    input[type="checkbox"] {
        vertical-align: top;
    }
}

/*--------------------------
  Input w/ attached Button
---------------------------*/

.ui.form {
    input.attached {
        width: auto;
    }
}

/*--------------------
     Basic Select
---------------------*/

.ui.form {
    select {
        display: block;
        height: auto;
        width: 100%;
        background: $white;
        border: 1px solid $dimmer-light;
        border-radius: 0.28571429rem;
        box-shadow: 0em 0em 0em 0em transparent inset;
        padding: 0.62em 1em;
        color: rgba(0, 0, 0, 0.87);
        transition: color 0.1s ease, border-color 0.1s ease;
    }
}

/*--------------------
       Dropdown
---------------------*/

/* Block */
.ui.form {
    .field {
        > .selection.dropdown {
            width: 100%;
            > .dropdown.icon {
                float: right;
            }
        }
    }
}
/* Inline */
.ui.form {
    .inline.fields .field,
    .inline.field {
        > .selection.dropdown {
            width: auto;
            > .dropdown.icon {
                float: none;
            }
        }
    }
}

/*--------------------
       UI Input
---------------------*/

/* Block */
.ui.form {
    .wide.field,
    .fields .field,
    .field {
        .ui.input {
            width: 100%;
        }
    }
}
/* Inline  */
.ui.form {
    .inline.fields  .field,
    .inline.field {
        &:not(.wide) {
            .ui.input {
                width: auto;
                vertical-align: middle;
            }
        }
    }
}
/* Auto Input */
.ui.form {
    .fields .field,
    .field {
        .ui.input {
            input {
                width: auto;
            }
        }
    }
}
/* Full Width Input */
.ui.form {
    .ten.fields,
    .nine.fields,
    .eight.fields,
    .seven.fields,
    .six.fields,
    .five.fields,
    .four.fields,
    .three.fields,
    .two.fields,
    .wide.field {
        .ui.input {
            input {
                box-flex: 1;
                flex: 1 0 auto;
                width: 0px;
            }
        }
    }
}

/*--------------------
   Types of Messages
---------------------*/

.ui.form {
    .success,
    .warning,
    .error {
        &.message {
            display: none;
        }
    }
}
/* Assumptions */
.ui.form {
    .message {
        &:first-child {
            margin-top: 0px;
        }
    }
}

/*--------------------
   Validation Prompt
---------------------*/

.ui.form {
    .field {
        .prompt {
            &.label {
                white-space: normal;
                background: #ffffff !important;
                border: 1px solid #e0b4b4 !important;
                color: #9f3a38 !important;
            }
        }
    }
    .inline {
        &.fields .field,
        &.field {
            .prompt {
                vertical-align: top;
                margin: -0.25em 0em -0.5em 0.5em;
                &:before {
                    border-width: 0px 0px 1px 1px;
                    bottom: auto;
                    right: auto;
                    top: 50%;
                    left: 0em;
                }
            }
        }
    }
}

/*******************************
            States
*******************************/


/*--------------------
      Autofilled
---------------------*/

.ui.form {
    .field {
        &.field {
            input {
                @include prefix-autofill(true) {
                    box-shadow: 0px 0px 0px 100px #fffff0 inset !important;
                    border-color: #e5dfa1 !important;
                }
            }
        }
    }
}
/* Focus */
.ui.form .field.field {
    input {
        @include prefix-autofill(true) {
            &:focus {
                box-shadow: 0px 0px 0px 100px #fffff0 inset !important;
                border-color: #d5c315 !important;
            }
        }
    }
}
/* Error */
.ui.form {
    .error.error {
        input {
            @include prefix-autofill(true) {
                box-shadow: 0px 0px 0px 100px #fffaf0 inset !important;
                border-color: #e0b4b4 !important;
            }
        }
    }
}

/*--------------------
      Placeholder
---------------------*/

/* browsers require these rules separate */
.ui.form {
    @include input-placeholder {
        color: rgba(140, 140, 140, 0.87);
    }
    :focus {
        @include input-placeholder(true) {
            color: rgba(89, 89, 89, 0.87);
        }
    }
}
/* Error Placeholder */
.ui.form {
    .error {
        @include input-placeholder {
            color: #e7bdbc;
        }
        :focus {
            @include input-placeholder(true) {
                color: #da9796;
            }
        }
    }
}

/*--------------------
        Focus
---------------------*/

.ui.form {
    #{$only-text-inputs} {
        &:focus {
            color: rgba(0, 0, 0, 0.95);
            border-color: #85b7d9;
            border-radius: 0.28571429rem;
            background: $white;
            box-shadow: 0px 0em 0em 0em rgba(34, 36, 38, 0.35) inset;
        }
    }
    textarea {
        &:focus {
            color: rgba(0, 0, 0, 0.95);
            border-color: #85b7d9;
            border-radius: 0.28571429rem;
            background: $white;
            box-shadow: 0px 0em 0em 0em rgba(34, 36, 38, 0.35) inset;
            appearance: none;
        }
    }
}

/*--------------------
        Success
---------------------*/


/* On Form */
.ui.form.success {
    .success.message {
        &:not(:empty) {
            display: block;
        }
    }
    .icon {
        &.success.message {
            &:not(:empty) {
                @include display-flex;
            }
        }
    }
}

/*--------------------
        Warning
---------------------*/


/* On Form */
.ui.form.warning {
    .warning.message {
        &:not(:empty) {
            display: block;
        }
    }
    .icon {
        &.warning.message {
            &:not(:empty) {
                @include display-flex;
            }
        }
    }
}

/*--------------------
        Error
---------------------*/

/* On Form */
.ui.form.error {
    .error.message {
        &:not(:empty) {
            display: block;
        }
    }
    .icon.error.message {
        &:not(:empty) {
            @include display-flex;
        }
    }
}
/* On Field(s) */
.ui.form {
    .fields.error .field,
    .field.error {
        label, .input {
            color: #9f3a38;
        }
    }
}
.ui.form {
    .fields.error .field,
    .field.error {
        .corner.label {
            border-color: #9f3a38;
            color: $white;
        }
        select,
        #{$all-text-inputs} {
            background: #fff6f6;
            border-color: #e0b4b4;
            color: #9f3a38;
            border-radius: '';
            box-shadow: none;
            &:focus {
                background: #fff6f6;
                border-color: #e0b4b4;
                color: #9f3a38;
                appearance: none;
                box-shadow: none;
            }
        }
    }
}
/* Preserve Native Select Stylings */
.ui.form {
    .field.error {
        select {
            appearance: menulist-button;
        }
    }
}

/*------------------
    Dropdown Error
--------------------*/

%form-dropdown-error {
    background: #fff6f6;
    color: #9f3a38;
}

.ui.form {
    .field.error {
        .ui.dropdown {
            .text {
                @extend %form-dropdown-error;
            }
        }
    }
    .fields.error .field,
    .field.error {
        .ui.dropdown .item,
        .ui.dropdown {
            @extend %form-dropdown-error;
        }
        .ui.dropdown {
            border-color: #e0b4b4 !important;
            &:hover {
                border-color: #e0b4b4 !important;
                .menu {
                    border-color: #e0b4b4;
                }
            }
        }
        .ui.multiple.selection.dropdown {
            > {
                .label {
                    background-color: #eacbcb;
                    color: #9f3a38;
                }
            }
        }
        .ui.dropdown {
            .menu {
                .item {
                    &:hover {
                        background-color: #fbe7e7;
                    }
                }
                .selected {
                    &.item {
                        background-color: #fbe7e7;
                    }
                }
                .active {
                    &.item {
                        background-color: #fdcfcf !important;
                    }
                }
            }
        }
    }
}
/* Hover */
.ui.form {
    .fields.error .field,
    .field.error {
        .ui.dropdown {
            .menu {
                .item {
                    &:hover {
                        background-color: #fbe7e7;
                    }
                }
            }
        }
    }
}
/* Selected */
.ui.form {
    .fields.error .field,
    .field.error {
        .ui.dropdown {
            .menu {
                .selected {
                    &.item {
                        background-color: #fbe7e7;
                    }
                }
            }
        }
    }
}
/* Active */
.ui.form {
    .fields.error .field,
    .field.error {
        .ui.dropdown {
            .menu {
                .active {
                    &.item {
                        background-color: #fdcfcf !important;
                    }
                }
            }
        }
    }
}

/*--------------------
    Checkbox Error
---------------------*/

.ui.form {
    .field.error,
    .fields.error .field {
        .checkbox {
            &:not(.toggle):not(.slider) {
                .box, label {
                    color: #9f3a38;
                    &:before {
                        background: #fff6f6;
                        border-color: #e0b4b4;
                    }
                }
            }
        }
        .checkbox {
            .box, label {
                &:after {
                    color: #9f3a38;
                }
            }
        }
    }
}

/*--------------------
       Disabled
---------------------*/

%form-disabled {
    pointer-events: none;
    opacity: 0.45;
}
.ui.form {
    .field {
        :disabled {
            @extend %form-disabled;
        }
        &.disabled {
            label {
                opacity: 0.45;
            }
            :disabled {
                opacity: 1;
            }
        }
    }
    .disabled {
        &.fields .field,
        &.field {
            @extend %form-disabled;
        }
    }
}

/*--------------
    Loading
---------------*/

.ui.loading.form {
    position: relative;
    cursor: default;
    point-events: none;
    &:before {
        position: absolute;
        content: '';
        top: 0%;
        left: 0%;
        background: rgba(255, 255, 255, 0.8);
        width: 100%;
        height: 100%;
        z-index: 100;
    }
    &:after {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        margin: -1.5em 0em 0em -1.5em;
        width: 3em;
        height: 3em;
        animation: form-spin 0.6s linear;
        animation-iteration-count: infinite;
        border-radius: 500rem;
        border-color: $black_46 rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
        border-style: solid;
        border-width: 0.2em;
        box-shadow: 0px 0px 0px 1px transparent;
        visibility: visible;
        z-index: 101;
    }
}

@keyframes form-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*******************************
         Element Types
*******************************/

/*--------------------
     Required Field
---------------------*/

.ui.form {
    .required {
        &.field {
            > {
                .checkbox,
                label {
                    &:after {
                        margin: -0.2em 0em 0em 0.2em;
                        content: '*';
                        color: #db2828;
                    }
                }
            }
        }
        &.fields {
            &.grouped {
                > {
                    label {
                        &:after {
                            margin: -0.2em 0em 0em 0.2em;
                            content: '*';
                            color: #db2828;
                        }
                    }
                }
            }
            &:not(.grouped) {
                > {
                    .field {
                        > {
                            .checkbox,
                            label {
                                &:after {
                                    margin: -0.2em 0em 0em 0.2em;
                                    content: '*';
                                    color: #db2828;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.fields:not(.grouped) > .field > label:after,
        &.fields.grouped > label:after,
        &.field > label:after {
            display: inline-block;
            vertical-align: top;
        }
        &.fields:not(.grouped) > .field > .checkbox:after,
        &.field > .checkbox:after {
            position: absolute;
            top: 0%;
            left: 100%;
        }
    }
}

/*******************************
           Variations
*******************************/

/*--------------------
    Inverted Colors
---------------------*/

.ui.form {
    .inverted.segment {
        label,
        .ui.checkbox label,
        .ui.checkbox .box {
            color: rgba(255, 255, 255, 0.9);
        }
    }
}
.ui.inverted.form {
    label,
    .ui.checkbox label,
    .ui.checkbox .box {
        color: rgba(255, 255, 255, 0.9);
    }
}
/* Inverted Field */
.ui.inverted.form {
    #{$only-text-inputs} {
        background: $white;
        border-color: rgba(255, 255, 255, 0.1);
        color: rgba(0, 0, 0, 0.87);
        box-shadow: none;
    }
}

/*--------------------
     Field Groups
---------------------*/

/* Grouped Vertically */
.ui.form {
    .grouped {
        &.fields {
            display: block;
            margin: 0em 0em 1em;
            &:last-child {
                margin-bottom: 0em;
            }
            > {
                label {
                    margin: 0em 0em 0.28571429rem 0em;
                    color: rgba(0, 0, 0, 0.87);
                    font-size: 0.92857143em;
                    font-weight: bold;
                    text-transform: none;
                }
            }
        }
        &.fields .field,
        &.inline.fields .field {
            display: block;
            margin: 0.5em 0em;
            padding: 0em;
        }
    }
}

/*--------------------
        Fields
---------------------*/

/* Split fields */
.ui.form {
    .fields {
        @include display-flex;
        box-orient: horizontal;
        box-direction: normal;
        @include flex-direction(row);
        > {
            .field {
                box-flex: 0;
                flex: 0 1 auto;
                padding-left: 0.5em;
                padding-right: 0.5em;
                &:first-child {
                    border-left: none;
                    box-shadow: none;
                }
            }
        }
    }
}
/* Other Combinations */
.ui.form {
    .two {
        &.fields > .fields,
        &.fields > .field {
            width: 50%;
        }
    }
    .three {
        &.fields > .fields,
        &.fields > .field {
            width: 33.33333333%;
        }
    }
    .four {
        &.fields > .fields,
        &.fields > .field {
            width: 25%;
        }
    }
    .five {
        &.fields > .fields,
        &.fields > .field {
            width: 20%;
        }
    }
    .six {
        &.fields > .fields,
        &.fields > .field {
            width: 16.66666667%;
        }
    }
    .seven {
        &.fields > .fields,
        &.fields > .field {
            width: 14.28571429%;
        }
    }
    .eight {
        &.fields > .fields,
        &.fields > .field {
            width: 12.5%;
        }
    }
    .nine {
        &.fields > .fields,
        &.fields > .field {
            width: 11.11111111%;
        }
    }
    .ten {
        &.fields > .fields,
        &.fields > .field {
            width: 10%;
        }
    }
}
/* Swap to full width on mobile */
@media only screen and (max-width:767px) {
    .ui.form {
        .fields {
            @include flex-wrap(wrap);
        }
        .two.fields,
        .two.fields,
        .three.fields,
        .three.fields,
        .four.fields,
        .four.fields,
        .five.fields,
        .five.fields,
        .six.fields,
        .six.fields,
        .seven.fields,
        .seven.fields,
        .eight.fields,
        .eight.fields,
        .nine.fields,
        .nine.fields,
        .ten.fields,
        .ten.fields {
            > {
                .fields,
                .field {
                    width: 100% !important;
                    margin: 0em 0em 1em;
                    padding-left: 0%;
                    padding-right: 0%;
                }
            }
        }
    }
}
.ui.form {
    .fields {
        .field {
            &:first-child {
                padding-left: 0%;
            }
            &:last-child {
                padding-right: 0%;
            }
        }
    }
}
/* Sizing Combinations */
.ui.form {
    .fields {
        .wide.field {
            width: 6.25%;
            padding-left: 0.5em;
            padding-right: 0.5em;
            &:first-child {
                padding-left: 0%;
            }
            &:last-child {
                padding-right: 0%;
            }
        }
    }
    .one.wide.field {
        width: 6.25% !important;
    }
    .two.wide.field {
        width: 12.5% !important;
    }
    .three.wide.field {
        width: 18.75% !important;
    }
    .four.wide.field {
        width: 25% !important;
    }
    .five.wide.field {
        width: 31.25% !important;
    }
    .six.wide.field {
        width: 37.5% !important;
    }
    .seven.wide.field {
        width: 43.75% !important;
    }
    .eight.wide.field {
        width: 50% !important;
    }
    .nine.wide.field {
        width: 56.25% !important;
    }
    .ten.wide.field {
        width: 62.5% !important;
    }
    .eleven.wide.field {
        width: 68.75% !important;
    }
    .twelve.wide.field {
        width: 75% !important;
    }
    .thirteen.wide.field {
        width: 81.25% !important;
    }
    .fourteen.wide.field {
        width: 87.5% !important;
    }
    .fifteen.wide.field {
        width: 93.75% !important;
    }
    .sixteen.wide.field {
        width: 100% !important;
    }
}
/* Swap to full width on mobile */
@media only screen and (max-width:767px) {
    .ui.form {
        .two.fields > .fields,
        .two.fields > .field,
        .three.fields > .fields,
        .three.fields > .field,
        .four.fields > .fields,
        .four.fields > .field,
        .five.fields > .fields,
        .five.fields > .field,
        .fields > .two.wide.field,
        .fields > .three.wide.field,
        .fields > .four.wide.field,
        .fields > .five.wide.field,
        .fields > .six.wide.field,
        .fields > .seven.wide.field,
        .fields > .eight.wide.field,
        .fields > .nine.wide.field,
        .fields > .ten.wide.field,
        .fields > .eleven.wide.field,
        .fields > .twelve.wide.field,
        .fields > .thirteen.wide.field,
        .fields > .fourteen.wide.field,
        .fields > .fifteen.wide.field,
        .fields > .sixteen.wide.field {
            width: 100% !important;
            margin: 0em 0em 1em;
            padding-left: 0%;
            padding-right: 0%;
        }
    }

}

/*--------------------
     Equal Width
---------------------*/

.ui[class*="equal width"] {
    &.form .fields,
    &.fields {
        > {
            .field {
                width: 100%;
                flex: 1 1 auto;
            }
        }
    }
}

/*--------------------
    Inline Fields
---------------------*/

%form-inline-label {
    display: inline-block;
    width: auto;
    margin-top: 0em;
    margin-bottom: 0em;
    vertical-align: baseline;
    font-size: 0.92857143em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.87);
    text-transform: none;
}
.ui.form {
    .inline.fields {
        margin: 0em 0em 1em;
        box-align: center;
        @include align-items(center);
        .field {
            margin: 0em;
            padding: 0em 1em 0em 0em;
        }
    }
}
/* Inline Label */
.ui.form {
    .inline {
        &.fields .field,
        &.fields,
        &.field {
            > label {
                @extend %form-inline-label;
            }
        }
        &.fields .field,
        &.field {
            > p {
                @extend %form-inline-label;
            }
        }
    }
}
/* Grouped Inline Label */
.ui.form {
    .inline.fields {
        > label {
            margin: 0.035714em 1em 0em 0em;
        }
    }
}
/* Inline Input */
.ui.form {
    .inline {
        &.fields .field,
        &.field {
            > {
                input, select {
                    display: inline-block;
                    width: auto;
                    margin-top: 0em;
                    margin-bottom: 0em;
                    vertical-align: middle;
                    font-size: 1em;
                }
            }
        }
    }
}
/* Label */
.ui.form {
    .inline {
        &.fields .field,
        &.field {
            >:first-child {
                margin: 0em 0.85714286em 0em 0em;
            }
            >:only-child {
                margin: 0em;
            }
        }
    }
}
/* Wide */
.ui.form {
    .inline.fields {
        .wide.field {
            @include display-flex;
            @include align-items(center);
            box-align: center;
            > {
                input, select {
                    width: 100%;
                }
            }
        }
    }
}

/*--------------------
        Sizes
---------------------*/

/* Standard */
.ui.small.form {
    font-size: 0.92857143rem;
}
/* Medium */
.ui.form {
    font-size: 1rem;
}
/* Large */
.ui.large.form {
    font-size: 1.14285714rem;
}
/* Huge */
.ui.huge.form {
    font-size: 1.42857143rem;
}