/*******************************
            Groups
*******************************/
*
.ui.buttons {
    @include display-flex(inline-flex);
    @include flex-direction(row);
    font-size: 0em;
    vertical-align: baseline;
    margin: 0em 0.25em 0em 0em;
    &:not(.basic):not(.inverted) {
        box-shadow: none;
    }
}
/* Clearfix */
.ui.buttons {
    &:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}
/* Standard Group */
.ui.buttons {
    .button {
        flex: 1 0 auto;
        margin: 0em;
        border-radius: 0em;
        margin: 0px 0px 0px 0px;
        &:first-child {
            border-left: none;
            margin-left: 0em;
            border-top-left-radius: 0.28571429rem;
            border-bottom-left-radius: 0.28571429rem;
        }
        &:last-child {
            border-top-right-radius: 0.28571429rem;
            border-bottom-right-radius: 0.28571429rem;
        }
    }
    > .ui.button:not(.basic):not(.inverted),
    &:not(.basic):not(.inverted) > .button {
        box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px $dimmer-light inset;
    }
}
/* Vertical  Style */
.ui.vertical.buttons {
    @include display-flex(inline-flex);
    @include flex-direction(column);
    .button {
        display: block;
        float: none;
        width: 100%;
        margin: 0px 0px 0px 0px;
        box-shadow: none;
    }
    .button,
    .mini.button,
    .tiny.button,
    .small.button,
    .massive.button,
    .huge.button {
        &:first-child {
            border-radius: 0.28571429rem 0.28571429rem 0px 0px;
        }
        &:last-child {
            margin-bottom: 0px;
            border-radius: 0px 0px 0.28571429rem 0.28571429rem;
        }
    }
}