/*******************************
             Types
*******************************/

/*-------------------
       Animated
--------------------*/

.ui.animated.button {
    position: relative;
    overflow: hidden;
    padding-right: 0em !important;
    vertical-align: middle;
    z-index: 1;
    .content {
        will-change: transform, opacity;
    }
    .visible.content {
        position: relative;
        margin-right: 1.5em;
    }
    .hidden.content {
        position: absolute;
        width: 100%;
    }
}
/* Horizontal */
.ui.animated.button {
    .visible.content,
    .hidden.content {
        transition: right 0.3s ease 0s;
    }
    .visible.content {
        left: auto;
        right: 0%;
    }
    .hidden.content {
        top: 50%;
        left: auto;
        right: -100%;
        margin-top: -0.5em;
    }
    &:focus, &:hover {
        .visible.content {
            left: auto;
            right: 200%;
        }
        .hidden.content {
            left: auto;
            right: 0%;
        }
    }
}
/* Vertical */
.ui.vertical.animated.button {
    .visible.content,
    .hidden.content {
        transition: top 0.3s ease, transform 0.3s ease;
    }
    .visible.content {
        right: auto;
        transform: translateY(0%);
    }
    .hidden.content {
        right: auto;
        top: -50%;
        left: 0%;
    }
    &:focus, &:hover {
        .visible.content {
            right: auto;
            transform: translateY(200%);
        }
        .hidden.content {
            right: auto;
            top: 50%;
        }
    }
}
/* Fade */
.ui.fade.animated.button {
    .visible.content,
    .hidden.content {
        transition: opacity 0.3s ease, transform 0.3s ease;
    }
    .visible.content {
        left: auto;
        right: auto;
        opacity: 1;
        transform: scale(1);
    }
    .hidden.content {
        opacity: 0;
        left: 0%;
        right: auto;
        transform: scale(1.5);
    }
    &:focus, &:hover {
        .visible.content {
            left: auto;
            right: auto;
            opacity: 0;
            transform: scale(0.75);
        }
        .hidden.content {
            left: 0%;
            right: auto;
            opacity: 1;
            transform: scale(1);
        }
    }
}

/*-------------------
       Inverted
--------------------*/

.ui.inverted.button {
    box-shadow: 0px 0px 0px 2px $white inset !important;
    background: transparent none;
    color: $white;
    text-shadow: none !important;
}
/* Group */
.ui.inverted.buttons {
    .button {
        margin: 0px 0px 0px -2px;
        &:first-child {
            margin-left: 0em;
        }
    }
}
.ui.inverted.vertical.buttons {
    .button {
        margin: 0px 0px -2px 0px;
        &:first-child {
            margin-top: 0em;
        }
    }
}
/* States */

/* Hover */
.ui.inverted.button {
    &:hover {
        background: $white;
        box-shadow: 0px 0px 0px 2px $white inset !important;
        color: $black_80;
    }
}
/* Active / Focus */
.ui.inverted.button {
    &:focus,
    &.active {
        background: $white;
        box-shadow: 0px 0px 0px 2px $white inset !important;
        color: $black_80;
    }
}
/* Active Focus */
.ui.inverted.button.active {
    &:focus {
        background: #dcddde;
        box-shadow: 0px 0px 0px 2px #dcddde inset !important;
        color: $black_80;
    }
}

/*-------------------
    Labeled Button
--------------------*/

.ui.labeled.button {
    &:not(.icon) {
        @include display-flex(inline-flex);
        @include flex-direction(row);
        background: none !important;
        padding: 0px !important;
        border: none !important;
        box-shadow: none !important;
    }
    > {
        .button {
            margin: 0px;
        }
        .label {
            @include display-flex;
            @include align-items(center);
            margin: 0px 0px 0px -1px !important;
            padding: '';
            font-size: 1em;
            border-color: $dimmer-light;
        }
        .tag.label {
            &:before {
                width: 1.85em;
                height: 1.85em;
            }
        }
    }
    /* Right */
    &:not([class*="left labeled"]) {
        > {
            .button {
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }
            .label {
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
            }
        }
    }
}
/* Left Side */
.ui[class*="left labeled"].button {
    > {
        .button {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
        .label {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }
    }
}

/*-------------------
     Social
--------------------*/

/* Facebook */
.ui.facebook.button {
    background-color: #3b5998;
    color: $white;
    text-shadow: none;
    background-image: none;
    box-shadow: 0px 0em 0px 0px $dimmer-light inset;
    &:hover {
        background-color: #304d8a;
        color: $white;
        text-shadow: none;
    }
    &:active {
        background-color: #2d4373;
        color: $white;
        text-shadow: none;
    }
}
/* Twitter */
.ui.twitter.button {
    background-color: #0084b4;
    color: $white;
    text-shadow: none;
    background-image: none;
    box-shadow: 0px 0em 0px 0px $dimmer-light inset;
    &:hover {
        background-color: #00719b;
        color: $white;
        text-shadow: none;
    }
    &:active {
        background-color: #005f81;
        color: $white;
        text-shadow: none;
    }
}
/* Google Plus */
.ui.google.plus.button {
    background-color: #dc4a38;
    color: $white;
    text-shadow: none;
    background-image: none;
    box-shadow: 0px 0em 0px 0px $dimmer-light inset;
    &:hover {
        background-color: #de321d;
        color: $white;
        text-shadow: none;
    }
    &:active {
        background-color: #bf3322;
        color: $white;
        text-shadow: none;
    }
}
/* Linked In */
.ui.linkedin.button {
    background-color: #1f88be;
    color: $white;
    text-shadow: none;
    &:hover {
        background-color: #147baf;
        color: $white;
        text-shadow: none;
    }
    &:active {
        background-color: #186992;
        color: $white;
        text-shadow: none;
    }
}
/* YouTube */
.ui.youtube.button {
    background-color: #cc181e;
    color: $white;
    text-shadow: none;
    background-image: none;
    box-shadow: 0px 0em 0px 0px $dimmer-light inset;
    &:hover {
        background-color: #bd0d13;
        color: $white;
        text-shadow: none;
    }
    &:active {
        background-color: #9e1317;
        color: $white;
        text-shadow: none;
    }
}
/* Instagram */
.ui.instagram.button {
    background-color: #49769c;
    color: $white;
    text-shadow: none;
    background-image: none;
    box-shadow: 0px 0em 0px 0px $dimmer-light inset;
    &:hover {
        background-color: #3d698e;
        color: $white;
        text-shadow: none;
    }
    &:active {
        background-color: #395c79;
        color: $white;
        text-shadow: none;
    }
}
/* Pinterest */
.ui.pinterest.button {
    background-color: #00aced;
    color: $white;
    text-shadow: none;
    background-image: none;
    box-shadow: 0px 0em 0px 0px $dimmer-light inset;
    &:hover {
        background-color: #0099d4;
        color: $white;
        text-shadow: none;
    }
    &:active {
        background-color: #0087ba;
        color: $white;
        text-shadow: none;
    }
}
/* VK */
.ui.vk.button {
    background-color: #4D7198;
    color: $white;
    background-image: none;
    box-shadow: 0px 0em 0px 0px $dimmer-light inset;
    &:hover {
        background-color: #41648a;
        color: $white;
    }
    &:active {
        background-color: #3c5876;
        color: $white;
    }
}

/*--------------
   Icon
---------------*/

.ui.button {
    > {
        .icon {
            &:not(.button) {
                height: 0.85714286em;
                opacity: 0.8;
                margin: 0em 0.42857143em 0em -0.21428571em;
                transition: opacity 0.1s ease;
                vertical-align: '';
                color: '';
            }
        }
        .right.icon {
            &:not(.button) {
                margin: 0em -0.21428571em 0em 0.42857143em;
            }
        }
    }
}