/*******************************
           Variations
*******************************/

/*-------------------
       Floated
--------------------*/

.ui[class*="left floated"] {
    &.button,
    &.buttons {
        float: left;
        margin-left: 0em;
        margin-right: 0.25em;
    }
}
.ui[class*="right floated"] {
    &.button,
    &.buttons {
        float: right;
        margin-right: 0em;
        margin-left: 0.25em;
    }
}

/*-------------------
       Compact
--------------------*/

.ui.compact {
    &.buttons .button,
    &.button {
        padding: 0.58928571em 1.125em 0.58928571em;
    }
    &.icon.buttons .button,
    &.icon.button {
        padding: 0.58928571em 0.58928571em 0.58928571em;
    }
    &.labeled.icon.buttons .button,
    &.labeled.icon.button {
        padding: 0.58928571em 3.69642857em 0.58928571em;
    }
}

/*-------------------
        Sizes
--------------------*/

.ui.mini.buttons .button,
.ui.mini.buttons .or,
.ui.mini.button {
    font-size: 0.71428571rem;
}
.ui.tiny.buttons .button,
.ui.tiny.buttons .or,
.ui.tiny.button {
    font-size: 0.85714286rem;
}
.ui.small.buttons .button,
.ui.small.buttons .or,
.ui.small.button {
    font-size: 0.92857143rem;
}
.ui.buttons .button,
.ui.buttons .or,
.ui.button {
    font-size: 1rem;
}
.ui.large.buttons .button,
.ui.large.buttons .or,
.ui.large.button {
    font-size: 1.14285714rem;
}
.ui.big.buttons .button,
.ui.big.buttons .or,
.ui.big.button {
    font-size: 1.28571429rem;
}
.ui.huge.buttons .button,
.ui.huge.buttons .or,
.ui.huge.button {
    font-size: 1.42857143rem;
}
.ui.massive.buttons .button,
.ui.massive.buttons .or,
.ui.massive.button {
    font-size: 1.71428571rem;
}

/*--------------
    Icon Only
---------------*/

.ui.icon {
    &.button,
    &.buttons .button {
        padding: 0.78571429em 0.78571429em 0.78571429em;
        > .icon {
            opacity: 0.9;
            margin: 0em;
            vertical-align: top;
        }
    }
}

/*-------------------
        Basic
--------------------*/

.ui.basic {
    &.button,
    &.buttons .button {
        background: transparent none !important;
        color: $black_60 !important;
        font-weight: normal;
        border-radius: 0.28571429rem;
        text-transform: none;
        text-shadow: none !important;
        box-shadow: 0px 0px 0px 1px $dimmer-light inset;
    }
    &.buttons {
        box-shadow: none;
        border: 1px solid $dimmer-light;
        border-radius: 0.28571429rem;
    }
    &.buttons .button {
        border-radius: 0em;
    }
    &:hover,
    &:focus {
        background: #ffffff !important;
        color: $black_80 !important;
        box-shadow: 0px 0px 0px 1px rgba(34, 36, 38, 0.35) inset, 0px 0px 0px 0px $dimmer-light inset;
    }
    &:active {
        background: #f8f8f8 !important;
        color: $black_90 !important;
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15) inset, 0px 1px 4px 0px $dimmer-light inset;
    }
    &.buttons .active.button,
    &.active.button {
        background: rgba(0, 0, 0, 0.05) !important;
        box-shadow: '' !important;
        color: rgba(0, 0, 0, 0.95);
        box-shadow: rgba(34, 36, 38, 0.35);
        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }
}
/* Vertical */
.ui.basic.buttons {
    .button {
        &:hover {
            box-shadow: 0px 0px 0px 1px rgba(34, 36, 38, 0.35) inset, 0px 0px 0px 0px $dimmer-light inset inset;
        }
        &:active {
            box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15) inset, 0px 1px 4px 0px $dimmer-light inset inset;
        }
    }
    .active.button {
        box-shadow: rgba(34, 36, 38, 0.35) inset;
    }
}
/* Standard Basic Inverted */
.ui.basic.inverted {
    &.button,
    &.buttons .button {
        background-color: transparent !important;
        color: #f9fafb !important;
        box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
        &:hover, &:focus {
            color: #ffffff !important;
            box-shadow: 0px 0px 0px 2px #ffffff inset !important;
        }
        &:active {
            background-color: rgba(255, 255, 255, 0.08) !important;
            color: #ffffff !important;
            box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.9) inset !important;
        }
    }
    &.active.button
    &.buttons .active.button {
        background-color: rgba(255, 255, 255, 0.08);
        color: #ffffff;
        text-shadow: none;
        box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.7) inset;
        &:hover {
            background-color: rgba(255, 255, 255, 0.15);
            box-shadow: 0px 0px 0px 2px #ffffff inset !important;
        }
    }
}
/* Basic Group */
.ui.basic {
    &.buttons .button {
        border-left: 1px solid $dimmer-light;
        box-shadow: none;
    }
    &.vertical.buttons .button {
        border-left: none;
        border-left-width: 0px;
        border-top: 1px solid $dimmer-light;
        &:first-child {
            border-top-width: 0px;
        }
    }
}

/*--------------
  Labeled Icon
---------------*/

.ui.labeled.icon {
    &.button,
    &.buttons .button {
        position: relative;
        padding-left: 4.07142857em !important;
        padding-right: 1.5em !important;
    }
}
/* Left Labeled */
.ui.labeled.icon {
    &.button,
    &.buttons > .button {
        > .icon {
            position: absolute;
            height: 100%;
            line-height: 1;
            border-radius: 0px;
            border-top-left-radius: inherit;
            border-bottom-left-radius: inherit;
            text-align: center;
            margin: 0em;
            width: 2.57142857em;
            background-color: rgba(0, 0, 0, 0.05);
            color: '';
            box-shadow: -1px 0px 0px 0px transparent inset;
            top: 0em;
            left: 0em;
            &:before,
            &:after {
                display: block;
                position: absolute;
                width: 100%;
                top: 50%;
                text-align: center;
                transform: translateY(-50%);
            }
        }
    }
}
/* Right Labeled */
.ui[class*="right labeled"].icon.button {
    padding-right: 4.07142857em !important;
    padding-left: 1.5em !important;
    > .icon {
        left: auto;
        right: 0em;
        border-radius: 0px;
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;
        box-shadow: 1px 0px 0px 0px transparent inset;
    }
}
.ui.labeled.icon.buttons {
    .button {
        > .icon {
            border-radius: 0em;
        }
        &:first-child {
            > .icon {
                border-top-left-radius: 0.28571429rem;
                border-bottom-left-radius: 0.28571429rem;
            }
        }
        &:last-child {
            > .icon {
                border-top-right-radius: 0.28571429rem;
                border-bottom-right-radius: 0.28571429rem;
            }
        }
    }
}
.ui.vertical.labeled.icon.buttons {
    .button {
        &:first-child {
            > .icon {
                border-radius: 0em;
                border-top-left-radius: 0.28571429rem;
            }
        }
        &:last-child {
            > .icon {
                border-radius: 0em;
                border-bottom-left-radius: 0.28571429rem;
            }
        }
    }
}
/* Fluid Labeled */
.ui.fluid[class*="right labeled"],
.ui.fluid[class*="left labeled"] {
    &.icon.button {
        padding-left: 1.5em !important;
        padding-right: 1.5em !important;
    }
}

/*--------------
     Toggle
---------------*/

/* Toggle (Modifies active state to give affordances) */
.ui.button.toggle.active,
.ui.buttons .button.toggle.active,
.ui.toggle.buttons .active.button {
    background-color: #21ba45 !important;
    box-shadow: none !important;
    text-shadow: none;
    color: #ffffff !important;
}
.ui.button.toggle.active {
    &:hover {
        background-color: #16ab39 !important;
        text-shadow: none;
        color: #ffffff !important;
    }
}

/*--------------
    Circular
---------------*/

.ui.circular.button {
    border-radius: 10em;
    > .icon {
        width: 1em;
        vertical-align: baseline;
    }
}

/*-------------------
      Or Buttons
--------------------*/

.ui.buttons {
    .or {
        position: relative;
        width: 0.3em;
        height: 2.57142857em;
        z-index: 3;
        &:before {
            position: absolute;
            text-align: center;
            border-radius: 500rem;
            content: 'or';
            top: 50%;
            left: 50%;
            background-color: $white;
            text-shadow: none;
            margin-top: -0.89285714em;
            margin-left: -0.89285714em;
            width: 1.78571429em;
            height: 1.78571429em;
            line-height: 1.78571429em;
            color: rgba(0, 0, 0, 0.4);
            font-style: normal;
            font-weight: bold;
            box-shadow: 0px 0px 0px 1px transparent inset;
        }
    }
    .or[data-text] {
        &:before {
            content: attr(data-text);
        }
    }
}
/* Fluid Or */
.ui.fluid.buttons {
    .or {
        width: 0em !important;
        &:after {
            display: none;
        }
    }
}

/*-------------------
       Attached
--------------------*/

/* Singular */
.ui.attached.button {
    position: relative;
    display: block;
    margin: 0em;
    border-radius: 0em;
    box-shadow: 0px 0px 0px 1px $dimmer-light !important;
}
/* Top / Bottom */
.ui.attached.top.button {
    border-radius: 0.28571429rem 0.28571429rem 0em 0em;
}
.ui.attached.bottom.button {
    border-radius: 0em 0em 0.28571429rem 0.28571429rem;
}
/* Left / Right */
.ui.left.attached.button {
    display: inline-block;
    border-left: none;
    text-align: right;
    padding-right: 0.75em;
    border-radius: 0.28571429rem 0em 0em 0.28571429rem;
}
.ui.right.attached.button {
    display: inline-block;
    text-align: left;
    padding-left: 0.75em;
    border-radius: 0em 0.28571429rem 0.28571429rem 0em;
}
/* Plural */
.ui.attached.buttons {
    position: relative;
    @include display-flex;
    border-radius: 0em;
    width: auto !important;
    z-index: 2;
    margin-left: -1px;
    margin-right: -1px;
    .button {
        margin: 0em;
        &:first-child,
        &:last-child {
            border-radius: 0em;
        }
    }
}
/* Top / Bottom */
.ui[class*="top attached"].buttons {
    margin-bottom: -1px;
    border-radius: 0.28571429rem 0.28571429rem 0em 0em;
    .button {
        &:first-child {
            border-radius: 0.28571429rem 0em 0em 0em;
        }
        &:last-child {
            border-radius: 0em 0.28571429rem 0em 0em;
        }
    }
}
.ui[class*="bottom attached"].buttons {
    margin-top: -1px;
    border-radius: 0em 0em 0.28571429rem 0.28571429rem;
    .button {
        &:first-child {
            border-radius: 0em 0em 0em 0.28571429rem;
        }
        &:last-child {
            border-radius: 0em 0em 0.28571429rem 0em;
        }
    }
}
/* Left / Right */
.ui[class*="left attached"].buttons {
    @include display-flex(inline-flex);
    margin-right: 0em;
    margin-left: -1px;
    border-radius: 0em 0.28571429rem 0.28571429rem 0em;
    .button {
        &:first-child {
            margin-left: -1px;
            border-radius: 0em 0.28571429rem 0em 0em;
        }
        &:last-child {
            margin-left: -1px;
            border-radius: 0em 0em 0.28571429rem 0em;
        }
    }
}
.ui[class*="right attached"].buttons {
    @include display-flex(inline-flex);
    margin-left: 0em;
    margin-right: -1px;
    border-radius: 0.28571429rem 0em 0em 0.28571429rem;
    .button {
        &:first-child {
            margin-left: -1px;
            border-radius: 0.28571429rem 0em 0em 0em;
        }
        &:last-child {
            margin-left: -1px;
            border-radius: 0em 0em 0em 0.28571429rem;
        }
    }
}

/*-------------------
        Fluid
--------------------*/

.ui.fluid.button,
.ui.fluid.buttons {
    width: 100%;
}
.ui.fluid.button {
    display: block;
}
.ui.two.buttons {
    width: 100%;
    > .button {
        width: 50%;
    }
}
.ui.three.buttons {
    width: 100%;
    > .button {
        width: 33.333%;
    }
}
.ui.four.buttons {
    width: 100%;
    > .button {
        width: 25%;
    }
}
.ui.five.buttons {
    width: 100%;
    > .button {
        width: 20%;
    }
}
.ui.six.buttons {
    width: 100%;
    > .button {
        width: 16.666%;
    }
}
.ui.seven.buttons {
    width: 100%;
    > .button {
        width: 14.285%;
    }
}
.ui.eight.buttons {
    width: 100%;
    > .button {
        width: 12.500%;
    }
}
.ui.nine.buttons {
    width: 100%;
    > .button {
        width: 11.11%;
    }
}
.ui.ten.buttons {
    width: 100%;
    > .button {
        width: 10%;
    }
}
.ui.eleven.buttons {
    width: 100%;
    > .button {
        width: 9.09%;
    }
}
.ui.twelve.buttons {
    width: 100%;
    > .button {
        width: 8.3333%;
    }
}
/* Fluid Vertical Buttons */
.ui.fluid.vertical.buttons,
.ui.fluid.vertical.buttons > .button {
    @include display-flex;
    width: auto;
}
.ui.two.vertical.buttons {
    > .button {
        height: 50%;
    }
}
.ui.three.vertical.buttons {
    > .button {
        height: 33.333%;
    }
}
.ui.four.vertical.buttons {
    > .button {
        height: 25%;
    }
}
.ui.five.vertical.buttons {
    > .button {
        height: 20%;
    }
}
.ui.six.vertical.buttons {
    > .button {
        height: 16.666%;
    }
}
.ui.seven.vertical.buttons {
    > .button {
        height: 14.285%;
    }
}
.ui.eight.vertical.buttons {
    > .button {
        height: 12.500%;
    }
}
.ui.nine.vertical.buttons {
    > .button {
        height: 11.11%;
    }
}
.ui.ten.vertical.buttons {
    > .button {
        height: 10%;
    }
}
.ui.eleven.vertical.buttons {
    > .button {
        height: 9.09%;
    }
}
.ui.twelve.vertical.buttons {
    > .button {
        height: 8.3333%;
    }
}

/*-------------------
       Colors
--------------------*/

/*--- Red ---*/

.ui.red.buttons .button,
.ui.red.button {
    background-color: #db2828;
    color: $white;
    text-shadow: none;
    background-image: none;
    &:hover {
        background-color: #d01919;
        color: $white;
        text-shadow: none;
    }
    &:focus {
        background-color: #ca1010;
        color: $white;
        text-shadow: none;
    }
    &:active {
        background-color: #b21e1e;
        color: $white;
        text-shadow: none;
    }
}
.ui.red.button {
    box-shadow: 0px 0em 0px 0px $dimmer-light inset;
}
.ui.red.active.button,
.ui.red.button .active.button:active,
.ui.red.buttons .active.button,
.ui.red.buttons .active.button:active {
    background-color: #d41515;
    color: $white;
    text-shadow: none;
}

/* Basic */
.ui.basic.red.buttons .button,
.ui.basic.red.button {
    box-shadow: 0px 0px 0px 1px #db2828 inset !important;
    color: #db2828 !important;
    &:hover {
        background: transparent !important;
        box-shadow: 0px 0px 0px 1px #d01919 inset !important;
        color: #d01919 !important;
    }
    &:focus {
        background: transparent !important;
        box-shadow: 0px 0px 0px 1px #ca1010 inset !important;
        color: #d01919 !important;
    }
    &:active {
        box-shadow: 0px 0px 0px 1px #b21e1e inset !important;
        color: #b21e1e !important;
    }
}
.ui.basic.red.buttons .active.button,
.ui.basic.red.active.button {
    background: transparent !important;
    box-shadow: 0px 0px 0px 1px #d41515 inset !important;
    color: #b21e1e !important;
}
.ui.buttons:not(.vertical) > .basic.red.button:not(:first-child) {
    margin-left: -1px;
}
/* Inverted */
.ui.inverted.red.buttons .button,
.ui.inverted.red.button {
    background-color: transparent;
    box-shadow: 0px 0px 0px 2px #ff695e inset !important;
    color: #ff695e;
}
.ui.inverted.red.buttons .button:hover,
.ui.inverted.red.button:hover,
.ui.inverted.red.buttons .button:focus,
.ui.inverted.red.button:focus,
.ui.inverted.red.buttons .button.active,
.ui.inverted.red.button.active,
.ui.inverted.red.buttons .button:active,
.ui.inverted.red.button:active {
    box-shadow: none !important;
    color: $white;
}

.ui.inverted.red.buttons .button:hover,
.ui.inverted.red.button:hover {
    background-color: #ff5144;
}

.ui.inverted.red.buttons .button:focus,
.ui.inverted.red.button:focus {
    background-color: #ff4335;
}

.ui.inverted.red.buttons .active.button,
.ui.inverted.red.active.button {
    background-color: #ff5144;
}

.ui.inverted.red.buttons .button:active,
.ui.inverted.red.button:active {
    background-color: #ff392b;
}

/* Inverted Basic */
.ui.inverted.red.basic.buttons .button,
.ui.inverted.red.buttons .basic.button,
.ui.inverted.red.basic.button {
    background-color: transparent;
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
    color: $white !important;
}

.ui.inverted.red.basic.buttons .button:hover,
.ui.inverted.red.buttons .basic.button:hover,
.ui.inverted.red.basic.button:hover {
    box-shadow: 0px 0px 0px 2px #ff5144 inset !important;
    color: #ff695e !important;
}

.ui.inverted.red.basic.buttons .button:focus,
.ui.inverted.red.basic.buttons .button:focus,
.ui.inverted.red.basic.button:focus {
    box-shadow: 0px 0px 0px 2px #ff4335 inset !important;
    color: #ff695e !important;
}

.ui.inverted.red.basic.buttons .active.button,
.ui.inverted.red.buttons .basic.active.button,
.ui.inverted.red.basic.active.button {
    box-shadow: 0px 0px 0px 2px #ff5144 inset !important;
    color: #ff695e !important;
}

.ui.inverted.red.basic.buttons .button:active,
.ui.inverted.red.buttons .basic.button:active,
.ui.inverted.red.basic.button:active {
    box-shadow: 0px 0px 0px 2px #ff392b inset !important;
    color: #ff695e !important;
}

/*--- Teal ---*/
.ui.teal.buttons .button,
.ui.teal.button {
    background-color: #00b5ad;
    color: $white;
    text-shadow: none;
    background-image: none;
}

.ui.teal.button {
    box-shadow: 0px 0em 0px 0px $dimmer-light inset;
}

.ui.teal.buttons .button:hover,
.ui.teal.button:hover {
    background-color: #009c95;
    color: $white;
    text-shadow: none;
}

.ui.teal.buttons .button:focus,
.ui.teal.button:focus {
    background-color: #008c86;
    color: $white;
    text-shadow: none;
}

.ui.teal.buttons .button:active,
.ui.teal.button:active {
    background-color: #00827c;
    color: $white;
    text-shadow: none;
}

.ui.teal.buttons .active.button,
.ui.teal.buttons .active.button:active,
.ui.teal.active.button,
.ui.teal.button .active.button:active {
    background-color: #009c95;
    color: $white;
    text-shadow: none;
}

/* Basic */
.ui.basic.teal.buttons .button,
.ui.basic.teal.button {
    box-shadow: 0px 0px 0px 1px #00b5ad inset !important;
    color: #00b5ad !important;
}

.ui.basic.teal.buttons .button:hover,
.ui.basic.teal.button:hover {
    background: transparent !important;
    box-shadow: 0px 0px 0px 1px #009c95 inset !important;
    color: #009c95 !important;
}

.ui.basic.teal.buttons .button:focus,
.ui.basic.teal.button:focus {
    background: transparent !important;
    box-shadow: 0px 0px 0px 1px #008c86 inset !important;
    color: #009c95 !important;
}

.ui.basic.teal.buttons .active.button,
.ui.basic.teal.active.button {
    background: transparent !important;
    box-shadow: 0px 0px 0px 1px #009c95 inset !important;
    color: #00827c !important;
}

.ui.basic.teal.buttons .button:active,
.ui.basic.teal.button:active {
    box-shadow: 0px 0px 0px 1px #00827c inset !important;
    color: #00827c !important;
}

.ui.buttons:not(.vertical) > .basic.teal.button:not(:first-child) {
    margin-left: -1px;
}

/* Inverted */
.ui.inverted.teal.buttons .button,
.ui.inverted.teal.button {
    background-color: transparent;
    box-shadow: 0px 0px 0px 2px #6dffff inset !important;
    color: #6dffff;
}

.ui.inverted.teal.buttons .button:hover,
.ui.inverted.teal.button:hover,
.ui.inverted.teal.buttons .button:focus,
.ui.inverted.teal.button:focus,
.ui.inverted.teal.buttons .button.active,
.ui.inverted.teal.button.active,
.ui.inverted.teal.buttons .button:active,
.ui.inverted.teal.button:active {
    box-shadow: none !important;
    color: $black_60;
}

.ui.inverted.teal.buttons .button:hover,
.ui.inverted.teal.button:hover {
    background-color: #54ffff;
}

.ui.inverted.teal.buttons .button:focus,
.ui.inverted.teal.button:focus {
    background-color: #44ffff;
}

.ui.inverted.teal.buttons .active.button,
.ui.inverted.teal.active.button {
    background-color: #54ffff;
}

.ui.inverted.teal.buttons .button:active,
.ui.inverted.teal.button:active {
    background-color: #3affff;
}

/* Inverted Basic */
.ui.inverted.teal.basic.buttons .button,
.ui.inverted.teal.buttons .basic.button,
.ui.inverted.teal.basic.button {
    background-color: transparent;
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
    color: $white !important;
}

.ui.inverted.teal.basic.buttons .button:hover,
.ui.inverted.teal.buttons .basic.button:hover,
.ui.inverted.teal.basic.button:hover {
    box-shadow: 0px 0px 0px 2px #54ffff inset !important;
    color: #6dffff !important;
}

.ui.inverted.teal.basic.buttons .button:focus,
.ui.inverted.teal.basic.buttons .button:focus,
.ui.inverted.teal.basic.button:focus {
    box-shadow: 0px 0px 0px 2px #44ffff inset !important;
    color: #6dffff !important;
}

.ui.inverted.teal.basic.buttons .active.button,
.ui.inverted.teal.buttons .basic.active.button,
.ui.inverted.teal.basic.active.button {
    box-shadow: 0px 0px 0px 2px #54ffff inset !important;
    color: #6dffff !important;
}

.ui.inverted.teal.basic.buttons .button:active,
.ui.inverted.teal.buttons .basic.button:active,
.ui.inverted.teal.basic.button:active {
    box-shadow: 0px 0px 0px 2px #3affff inset !important;
    color: #6dffff !important;
}

/*-------------------
       Primary
--------------------*/
.ui.primary.buttons .button,
.ui.primary.button {
    background-color: #2185d0;
    color: $white;
    text-shadow: none;
    background-image: none;
}

.ui.primary.button {
    box-shadow: 0px 0em 0px 0px $dimmer-light inset;
}

.ui.primary.buttons .button:hover,
.ui.primary.button:hover {
    background-color: #1678c2;
    color: $white;
    text-shadow: none;
}

.ui.primary.buttons .button:focus,
.ui.primary.button:focus {
    background-color: #0d71bb;
    color: $white;
    text-shadow: none;
}

.ui.primary.buttons .button:active,
.ui.primary.button:active {
    background-color: #1a69a4;
    color: $white;
    text-shadow: none;
}

.ui.primary.buttons .active.button,
.ui.primary.active.button {
    background-color: #1279c6;
    color: $white;
    text-shadow: none;
}

/*-------------------
      Secondary
--------------------*/
.ui.secondary.buttons .button,
.ui.secondary.button {
    background-color: $dark_approx;
    color: $white;
    text-shadow: none;
    background-image: none;
}

.ui.secondary.button {
    box-shadow: 0px 0em 0px 0px $dimmer-light inset;
}

.ui.secondary.buttons .button:hover,
.ui.secondary.button:hover {
    background-color: $black_light_16;
    color: $white;
    text-shadow: none;
}

.ui.secondary.buttons .button:focus,
.ui.secondary.button:focus {
    background-color: #2e3032;
    color: $white;
    text-shadow: none;
}

.ui.secondary.buttons .button:active,
.ui.secondary.button:active {
    background-color: $black_light_21;
    color: $white;
    text-shadow: none;
}

.ui.secondary.buttons .active.button,
.ui.secondary.active.button {
    background-color: $black_light_16;
    color: $white;
    text-shadow: none;
}

/*---------------
    Positive
----------------*/
.ui.positive.buttons .button,
.ui.positive.button {
    background-color: #21ba45 !important;
    color: $white;
    text-shadow: none;
    background-image: none;
}

.ui.positive.button {
    box-shadow: 0px 0em 0px 0px $dimmer-light inset;
}

.ui.positive.buttons .button:hover,
.ui.positive.button:hover {
    background-color: #16ab39 !important;
    color: $white;
    text-shadow: none;
}

.ui.positive.buttons .button:focus,
.ui.positive.button:focus {
    background-color: #0ea432 !important;
    color: $white;
    text-shadow: none;
}

.ui.positive.buttons .button:active,
.ui.positive.button:active {
    background-color: #198f35 !important;
    color: $white;
    text-shadow: none;
}

.ui.positive.buttons .active.button,
.ui.positive.active.button,
.ui.positive.buttons .active.button:active {
    background-color: #13ae38;
    color: $white;
    text-shadow: none;
}

/*---------------
     Negative
----------------*/
.ui.negative.buttons .button,
.ui.negative.button {
    background-color: #db2828 !important;
    color: $white;
    text-shadow: none;
    background-image: none;
}

.ui.negative.button {
    box-shadow: 0px 0em 0px 0px $dimmer-light inset;
}

.ui.negative.buttons .button:hover,
.ui.negative.button:hover {
    background-color: #d01919 !important;
    color: $white;
    text-shadow: none;
}

.ui.negative.buttons .button:focus,
.ui.negative.button:focus {
    background-color: #ca1010 !important;
    color: $white;
    text-shadow: none;
}

.ui.negative.buttons .button:active,
.ui.negative.button:active {
    background-color: #b21e1e !important;
    color: $white;
    text-shadow: none;
}

.ui.negative.buttons .active.button,
.ui.negative.active.button,
.ui.negative.buttons .active.button:active {
    background-color: #d41515;
    color: $white;
    text-shadow: none;
}