<h2 id="campaignTitle" class="ui left floated header">{{ name }}</h2>
<div class="ui clearing divider"></div>
<div class="ui segments">
	<div class="ui segment">
		<h4 id="campaignUserStatus"><strong>Overview</strong></h4>
		<div class="ui equal width grid">
			<div class="column">
				<p><strong>Dates: </strong> {{ formatDate(startDate) }} - {{ formatDate(endDate) }}</p>
				<p><strong>Campaign destination: </strong> http://www.google.com </p>
			</div>
			<div class="column">
				<p><strong>Status: </strong>{{ formatStatus(status) }}</p>
				<p><strong>Days Left: </strong>{{ formatDaysLeft(endDate) }}</p>
			</div>
		</div>
	</div>
	<div id="linechart_container" class="ui secondary segment"></div>
	<div class="ui tertiary segment">
		<div id="CampaignOverviewAccordion" class="ui styled fluid accordion">
			<div id="CampaignOverviewAccordionTitle" class="title">
				<i class="large dropdown icon"></i>
				Campaign Overview
			</div>
		</div>
		<div id="CampaignSuccessAccordion" class="ui styled fluid accordion">
			<div id="CampaignSuccessAccordionTitle" class="title">
				<i class="large dropdown icon"></i>
				Campaign Success
			</div>
		</div>
		<div id="SubmittedLinksAccordion" class="ui styled fluid accordion">
			<div id="SubmittedLinksAccordionTitle" class="title">
				<i class="large dropdown icon"></i>
				Submitted Links
			</div>
		</div>
	</div>
</div>